    Executive Summary

    This goal of this study was to build a model that can accurately predict the pay grade for job postings online that came with no salary info. The model was built and tested on data from the job accumulator indeed.com. The model predicted vast differences in pay grades between different job titles. Most notably, anything with ‘data science’ or ‘machine learning’ was predicted to pay well, and anything with the word ‘research’ in it was predicted to pay poorly. 

    Methods

    The data used in this analysis was accumulated by scraping 100 pages of job postings on indeed.com from each of 16 major cities across the US. Those cities were New York, Chicago, San Francisco, Austin, Seattle, Los Angeles, Philadelphia, Atlanta, Dallas, Pittsburgh, Portland, Phoenix, Denver, Houston, Miami, and Washington DC. All salaries on indeed.com were listed as either yearly, monthly, or hourly. Any salary ranges were reduced to their average. Monthly salaries were multiplied by 12, and hourly salaries were multiplied by 2000 for the analysis.

    All job postings with relevant salary info were used to build a random forest model that predicts whether any given job posting will pay above or below average based on its job title and location. The model was then used to predict the pay grade in each of our target cities for a list of very common job titles that are relevant to data science.

    Results

    The final model was tested on un-learned data. The test revealed that the final model is about 80% accurate in predicting whether any specific job posting will be above or below the median salary. The baseline accuracy for this situation is 50%, so the model does give us valuable insight.
 
    Below is a list of job titles, and the number of cities (out of 16) where postings with that job title were predicted to pay above average.

    job_title
    Data Engineer                16.0
    Data Science Developer       11.0
    Data Scientist               16.0
    Data Specialist               5.0
    Database Analyst              5.0
    Machine Learning Engineer    16.0
    Quantitative Analyst         15.0
    Research Analyst              0.0
    Research Assistant            5.0
    Research Associate            1.0
    Statistical Analyst           6.0

    The next list shows the number of job titles on our list (out of 11) that are predicted to pay above average for each of our target cities.

    city
    Atlanta             6.0
    Austin              9.0
    Chicago             5.0
    Dallas              4.0
    Denver              5.0
    Houston             4.0
    Los+Angeles         9.0
    Miami               5.0
    New+York            5.0
    Philadelphia        9.0
    Phoenix             4.0
    Pittsburgh          4.0
    Portland            3.0
    San+Francisco      10.0
    Seattle             5.0
    Washington+City     9.0


    Interpretation

    Job postings with the title ‘data engineer’ and ‘machine learning engineer’ are predicted to be high-paying in all of our target cities. ‘Research analyst’ and ‘research associate’ positions pay very poorly everywhere. In Washington DC, Philadelphia, San Francisco, Los Angeles, and Austin, the model predicted that all job titles besides ‘research analyst’ and ‘research associate’ would fetch high pay. The model predicted mixed results for the other combinations of job title and location that were fed into it.

    Conclusion

    If you can (ethically) describe your job as a research position of any type, you will be able to get away with offering far less competitive pay. If that’s not applicable to your job, you can also describe your data-science jobs in different terms so that there will be less competition from other employers. For example, statistical analyst, database analyst, and data specialist positions were predicted to pay below average in most of our target cities. Also, not surprisingly, data science jobs in San Francisco, Washington DC, Los Angeles, and Austin are predicted to pay highly. If you can hire for your jobs in other cities instead, you can get away with offering lower wages.

In [1]:
# Export to csv
import pandas as pd
import re
data=pd.read_csv('jobs_data2.csv').drop('Unnamed: 0', axis=1)
df=data.drop_duplicates().copy()
df=df.reset_index(drop=True)
df.head()

,location,company,job_title,salary,city
0,"Houston, TX",MD Anderson Cancer Center,Institute Research Scientist - Translational B...,"$95,000 - $142,000 a year",Houston
1,"Houston, TX",MD Anderson Cancer Center,Computational Scientist,"$76,400 - $114,600 a year",Houston
2,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Neuro-Oncology - Research,"$51,600 - $77,400 a year",Houston
3,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Thoracic H&N Med Oncology...,"$51,600 - $77,400 a year",Houston
4,"Houston, TX","Earl Carl Institute for Legal & Social Policy,...",Part Time Academic Research and Writing Policy...,"$20,000 - $25,000 a year",Houston

In [2]:
df['time_frame']=['yr' if ('year' in _) \
                  else 'mo' if ('month' in _) \
                  else 'hr' if ('hour' in _) \
                  else '-'
                  for _ in df['salary']]

In [3]:
df['salary']=df['salary'].str.replace(' a year', '')
df['salary']=df['salary'].str.replace(' a month', '')
df['salary']=df['salary'].str.replace(' an hour', '')
df['salary']=df['salary'].str.replace('$', '')
df['salary']=df['salary'].str.replace('-','')
df['salary']=df['salary'].str.replace(',','')
df['salary']=df['salary'].str.strip()

In [4]:
def stringparse(test):
    if re.match(r'^\d+\ +\d+', test):
        return (float(re.findall('\d+', test)[0])+float(re.findall('\d+', test)[1]))/2
    elif re.match('\d+\.\d+\ +\d+\.+\d+', test):
        return (float(re.findall('\d+\.\d+', test)[0])+float(re.findall('\d+\.\d+', test)[1]))/2
    else:
        return (float(test))

In [5]:
df['sal_avg']=df['salary'].apply(stringparse)
df['sal_yr']=[_[1]['sal_avg'] if _[1]['time_frame']=='yr' \
              else _[1]['sal_avg']*12 if _[1]['time_frame']=='mo' \
              else _[1]['sal_avg']*2000 if _[1]['time_frame']=='hr' \
              else 0 for _ in df.iterrows()]
df.head()

,location,company,job_title,salary,city,time_frame,sal_avg,sal_yr
0,"Houston, TX",MD Anderson Cancer Center,Institute Research Scientist - Translational B...,95000 142000,Houston,yr,118500.0,118500.0
1,"Houston, TX",MD Anderson Cancer Center,Computational Scientist,76400 114600,Houston,yr,95500.0,95500.0
2,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Neuro-Oncology - Research,51600 77400,Houston,yr,64500.0,64500.0
3,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Thoracic H&N Med Oncology...,51600 77400,Houston,yr,64500.0,64500.0
4,"Houston, TX","Earl Carl Institute for Legal & Social Policy,...",Part Time Academic Research and Writing Policy...,20000 25000,Houston,yr,22500.0,22500.0

city_list=['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington+City']

## Predicting salaries using Random Forests + Another Classifier

In [6]:
df['above_med']=(df['sal_yr']>df['sal_yr'].median())

#### The baseline accuracy for this model is 50/50 since exactly half the salaries will be below the median salary and half will be above.

50/50

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [8]:
X=pd.get_dummies(df['city'])
y=df['above_med']
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=.2)
rforest=RandomForestClassifier(n_estimators=1000)
rforest.fit(X_train, y_train)
print 'RForest Acc., Location Only: '+ str(rforest.score(X_test, y_test))

RForest Acc., Location Only: 0.5625

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?
- After creating these variables, use count-vectorizer to create features based on the words in the job titles.
- Build a new random forest model with location and these new features included.

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import GridSearchCV
titles=df['job_title']
companies=df['company']

In [10]:
cvec_titles=CountVectorizer(stop_words='english', ngram_range=(2,2))
cvec_titles.fit(titles)
cvec_titles_data=cvec_titles.transform(titles)
df_titles=pd.DataFrame(cvec_titles_data.todense(), columns=cvec_titles.get_feature_names())

In [11]:
X=pd.concat([df_titles, X], axis=1)
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=.2)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model, as well as any other metrics you feel are appropriate.

In [12]:
grid_params={'n_estimators':[10,25,100,1000],
            'max_features':[15,25,50,250]}
grid=GridSearchCV(RandomForestClassifier(), param_grid=grid_params, cv=10, n_jobs=-1)
grid.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [10, 25, 100, 1000], 'max_features': [15, 25, 50, 250]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [13]:
rforest=grid.best_estimator_
rforest.fit(X_train, y_train)
print 'RForest Acc., Location+Description CVec: '+str(rforest.score(X_test, y_test))

RForest Acc., Location+Description CVec: 0.84375

In [14]:
print grid.best_params_

{'max_features': 15, 'n_estimators': 100}

#### Repeat the model-building process with a non-tree-based method.

In [15]:
from sklearn.neighbors import KNeighborsClassifier
grid_params={'p':[1,2,3],
            'weights':['uniform', 'distance'],
            'algorithm':['ball_tree', 'kd_tree', 'brute'],
            'n_neighbors':[2,5,10]}

In [16]:
grid=GridSearchCV(KNeighborsClassifier(n_jobs=-1), param_grid=grid_params)
grid.fit(X_train, y_train)
knn=grid.best_estimator_

In [17]:
print grid.best_params_
print 'knn-score'+str(knn.score(X_test, y_test))

{'n_neighbors': 2, 'weights': 'uniform', 'algorithm': 'kd_tree', 'p': 1}
knn-score0.71875

In [18]:
X_train.shape

(256, 631)

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the job descriptions. 
- Examine using count or binary features in the model
- Re-evaluate your models using these. Does this improve the model performance? 
- What text features are the most valuable?

In [19]:
feature_importances = pd.DataFrame(rforest.feature_importances_,
                                   index = X.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)
pd.DataFrame(feature_importances)

                          importance
data scientist              0.089549
research analyst            0.031341
data engineer               0.021630
data analyst                0.017448
Washington+City             0.017037
senior data                 0.014319
San+Francisco               0.013993
Chicago                     0.011836
machine learning            0.011786
Portland                    0.011388
Miami                       0.010425
Phoenix                     0.010311
scientist engineer          0.009144
Philadelphia                0.008620
scientist associate         0.007921
health scientist            0.007920
operations research         0.007798
Atlanta                     0.007595
Los+Angeles                 0.007582
stack engineer              0.007246
statistical analyst         0.007184
research engineering        0.006681
lead data                   0.006517
research associate          0.006460
Dallas                      0.006235
New+York                    0.006184
research scientist          0.006176
big data                    0.006142
research assistant          0.006121
quantitative analyst        0.005945
...                              ...
service desk                0.000000
senior end                  0.000000
senior java                 0.000000
senior project              0.000000
sciences en                 0.000000
science nyc                 0.000000
associate gnss              0.000000
statistical data            0.000000
python aws                  0.000000
senior product              0.000000
qc laboratory               0.000000
quality planning            0.000000
quality process             0.000000
radio receiv                0.000000
ranking specialist          0.000000
relations manager           0.000000
success specialist          0.000000
anatomic pathology          0.000000
engineering physical        0.000000
engineer python             0.000000
statistician statistical    0.000000
asc ar                      0.000000
assessment warm             0.000000
end engineer                0.000000
assistant iii               0.000000
researcher data             0.000000
earning 213                 0.000000
science assistant           0.000000
statistical modeling        0.000000
defined radio               0.000000

[631 rows x 1 columns]

### TESTING

In [20]:
test_titles=['Data Scientist', 'Research Analyst', 'Data Engineer', 'Research Associate',
             'Machine Learning Engineer', 'Research Assistant', 'Statistical Analyst', 
             'Quantitative Analyst','Data Science Developer', 'Database Analyst',
             'Data Specialist', 'Research Analyst', 'Predictive Analyst', 'Machine Learning Specialist',
            'Database Engineer', 'Statistical Analyst', 'Software Engineer', 'Software Developer', 'Database Developer']
             
city_list=['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
           'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
           'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington+City']
dftest_title_list=[]
dftest_city_list=[]
for tit in test_titles:
    for cit in city_list:
        dftest_title_list.append(tit)
        dftest_city_list.append(cit)
test_df=pd.DataFrame({'job_title':dftest_title_list, 'city':dftest_city_list})

In [21]:
test_X=pd.get_dummies(test_df['city'])
test_titlevecs=cvec_titles.transform(test_df['job_title'])
test_df_titles=pd.DataFrame(test_titlevecs.todense(), columns=cvec_titles.get_feature_names())
test_X=pd.concat([test_df_titles, test_X], axis=1)

In [22]:
y_pred=rforest.predict(test_X)

In [23]:
test_df['above_med']=y_pred

In [24]:
pd.set_option("display.max_rows",300)
test_df.sort_values('job_title')

                city                    job_title  above_med
39           Atlanta                Data Engineer       True
34     San+Francisco                Data Engineer       True
35            Austin                Data Engineer       True
36           Seattle                Data Engineer       True
37       Los+Angeles                Data Engineer       True
38      Philadelphia                Data Engineer       True
40            Dallas                Data Engineer       True
41        Pittsburgh                Data Engineer       True
42          Portland                Data Engineer       True
43           Phoenix                Data Engineer       True
44            Denver                Data Engineer       True
45           Houston                Data Engineer       True
46             Miami                Data Engineer       True
33           Chicago                Data Engineer       True
47   Washington+City                Data Engineer       True
32          New+York                Data Engineer       True
142            Miami       Data Science Developer      False
141          Houston       Data Science Developer       True
140           Denver       Data Science Developer       True
139          Phoenix       Data Science Developer      False
138         Portland       Data Science Developer      False
137       Pittsburgh       Data Science Developer      False
136           Dallas       Data Science Developer      False
135          Atlanta       Data Science Developer       True
129          Chicago       Data Science Developer       True
134     Philadelphia       Data Science Developer       True
133      Los+Angeles       Data Science Developer       True
132          Seattle       Data Science Developer       True
131           Austin       Data Science Developer       True
130    San+Francisco       Data Science Developer       True
143  Washington+City       Data Science Developer       True
128         New+York       Data Science Developer       True
0           New+York               Data Scientist       True
14             Miami               Data Scientist       True
13           Houston               Data Scientist       True
12            Denver               Data Scientist       True
11           Phoenix               Data Scientist       True
10          Portland               Data Scientist       True
9         Pittsburgh               Data Scientist       True
15   Washington+City               Data Scientist       True
8             Dallas               Data Scientist       True
6       Philadelphia               Data Scientist       True
5        Los+Angeles               Data Scientist       True
4            Seattle               Data Scientist       True
3             Austin               Data Scientist       True
2      San+Francisco               Data Scientist       True
1            Chicago               Data Scientist       True
7            Atlanta               Data Scientist       True
160         New+York              Data Specialist       True
161          Chicago              Data Specialist      False
174            Miami              Data Specialist      False
162    San+Francisco              Data Specialist       True
163           Austin              Data Specialist      False
164          Seattle              Data Specialist      False
165      Los+Angeles              Data Specialist       True
166     Philadelphia              Data Specialist      False
167          Atlanta              Data Specialist      False
168           Dallas              Data Specialist      False
169       Pittsburgh              Data Specialist      False
170         Portland              Data Specialist      False
171          Phoenix              Data Specialist      False
172           Denver              Data Specialist      False
173          Houston              Data Specialist      False
175  Washington+City              Data Specialist       True
157          Houston             Database Analyst      False
144         New+York             Database Analyst       True
145          Chicago             Database Analyst      False
146    San+Francisco             Database Analyst       True
147           Austin             Database Analyst       True
148          Seattle             Database Analyst      False
149      Los+Angeles             Database Analyst       True
150     Philadelphia             Database Analyst       True
159  Washington+City             Database Analyst       True
153       Pittsburgh             Database Analyst      False
154         Portland             Database Analyst      False
155          Phoenix             Database Analyst      False
156           Denver             Database Analyst      False
158            Miami             Database Analyst      False
152           Dallas             Database Analyst      False
151          Atlanta             Database Analyst       True
303  Washington+City           Database Developer       True
302            Miami           Database Developer      False
288         New+York           Database Developer       True
289          Chicago           Database Developer      False
290    San+Francisco           Database Developer       True
292          Seattle           Database Developer      False
293      Los+Angeles           Database Developer       True
294     Philadelphia           Database Developer       True
291           Austin           Database Developer       True
296           Dallas           Database Developer      False
297       Pittsburgh           Database Developer      False
298         Portland           Database Developer      False
299          Phoenix           Database Developer      False
300           Denver           Database Developer      False
301          Houston           Database Developer      False
295          Atlanta           Database Developer       True
229      Los+Angeles            Database Engineer       True
224         New+York            Database Engineer       True
225          Chicago            Database Engineer      False
226    San+Francisco            Database Engineer       True
227           Austin            Database Engineer       True
228          Seattle            Database Engineer      False
230     Philadelphia            Database Engineer       True
231          Atlanta            Database Engineer       True
232           Dallas            Database Engineer      False
233       Pittsburgh            Database Engineer      False
234         Portland            Database Engineer      False
235          Phoenix            Database Engineer      False
236           Denver            Database Engineer      False
237          Houston            Database Engineer      False
238            Miami            Database Engineer      False
239  Washington+City            Database Engineer       True
76            Denver    Machine Learning Engineer       True
74          Portland    Machine Learning Engineer       True
73        Pittsburgh    Machine Learning Engineer       True
72            Dallas    Machine Learning Engineer       True
71           Atlanta    Machine Learning Engineer       True
70      Philadelphia    Machine Learning Engineer       True
66     San+Francisco    Machine Learning Engineer       True
68           Seattle    Machine Learning Engineer       True
67            Austin    Machine Learning Engineer       True
77           Houston    Machine Learning Engineer       True
65           Chicago    Machine Learning Engineer       True
64          New+York    Machine Learning Engineer       True
79   Washington+City    Machine Learning Engineer       True
69       Los+Angeles    Machine Learning Engineer       True
78             Miami    Machine Learning Engineer       True
75           Phoenix    Machine Learning Engineer       True
211           Austin  Machine Learning Specialist       True
209          Chicago  Machine Learning Specialist       True
210    San+Francisco  Machine Learning Specialist       True
212          Seattle  Machine Learning Specialist       True
213      Los+Angeles  Machine Learning Specialist       True
214     Philadelphia  Machine Learning Specialist       True
215          Atlanta  Machine Learning Specialist       True
216           Dallas  Machine Learning Specialist       True
217       Pittsburgh  Machine Learning Specialist       True
218         Portland  Machine Learning Specialist      False
219          Phoenix  Machine Learning Specialist      False
220           Denver  Machine Learning Specialist       True
221          Houston  Machine Learning Specialist       True
208         New+York  Machine Learning Specialist       True
222            Miami  Machine Learning Specialist      False
223  Washington+City  Machine Learning Specialist       True
203          Phoenix           Predictive Analyst      False
192         New+York           Predictive Analyst       True
206            Miami           Predictive Analyst      False
193          Chicago           Predictive Analyst      False
194    San+Francisco           Predictive Analyst       True
195           Austin           Predictive Analyst       True
..               ...                          ...        ...
199          Atlanta           Predictive Analyst       True
200           Dallas           Predictive Analyst      False
201       Pittsburgh           Predictive Analyst      False
202         Portland           Predictive Analyst      False
196          Seattle           Predictive Analyst      False
207  Washington+City           Predictive Analyst       True
126            Miami         Quantitative Analyst      False
112         New+York         Quantitative Analyst       True
125          Houston         Quantitative Analyst       True
124           Denver         Quantitative Analyst       True
123          Phoenix         Quantitative Analyst      False
127  Washington+City         Quantitative Analyst       True
121       Pittsburgh         Quantitative Analyst      False
120           Dallas         Quantitative Analyst      False
122         Portland         Quantitative Analyst      False
118     Philadelphia         Quantitative Analyst       True
117      Los+Angeles         Quantitative Analyst       True
116          Seattle         Quantitative Analyst       True
115           Austin         Quantitative Analyst       True
114    San+Francisco         Quantitative Analyst       True
113          Chicago         Quantitative Analyst       True
119          Atlanta         Quantitative Analyst       True
185       Pittsburgh             Research Analyst      False
190            Miami             Research Analyst      False
189          Houston             Research Analyst      False
188           Denver             Research Analyst      False
187          Phoenix             Research Analyst      False
186         Portland             Research Analyst      False
184           Dallas             Research Analyst      False
191  Washington+City             Research Analyst      False
182     Philadelphia             Research Analyst      False
31   Washington+City             Research Analyst      False
30             Miami             Research Analyst      False
29           Houston             Research Analyst      False
183          Atlanta             Research Analyst      False
27           Phoenix             Research Analyst      False
26          Portland             Research Analyst      False
25        Pittsburgh             Research Analyst      False
24            Dallas             Research Analyst      False
23           Atlanta             Research Analyst      False
22      Philadelphia             Research Analyst      False
21       Los+Angeles             Research Analyst      False
28            Denver             Research Analyst      False
19            Austin             Research Analyst      False
20           Seattle             Research Analyst      False
181      Los+Angeles             Research Analyst      False
179           Austin             Research Analyst      False
178    San+Francisco             Research Analyst      False
180          Seattle             Research Analyst      False
176         New+York             Research Analyst      False
16          New+York             Research Analyst      False
17           Chicago             Research Analyst      False
18     San+Francisco             Research Analyst      False
177          Chicago             Research Analyst      False
90          Portland           Research Assistant      False
94             Miami           Research Assistant      False
93           Houston           Research Assistant      False
92            Denver           Research Assistant      False
91           Phoenix           Research Assistant      False
89        Pittsburgh           Research Assistant      False
83            Austin           Research Assistant      False
87           Atlanta           Research Assistant      False
86      Philadelphia           Research Assistant      False
85       Los+Angeles           Research Assistant      False
84           Seattle           Research Assistant      False
82     San+Francisco           Research Assistant       True
81           Chicago           Research Assistant      False
88            Dallas           Research Assistant      False
95   Washington+City           Research Assistant      False
80          New+York           Research Assistant      False
58          Portland           Research Associate      False
63   Washington+City           Research Associate      False
61           Houston           Research Associate      False
60            Denver           Research Associate      False
59           Phoenix           Research Associate      False
57        Pittsburgh           Research Associate      False
56            Dallas           Research Associate      False
55           Atlanta           Research Associate      False
53       Los+Angeles           Research Associate      False
52           Seattle           Research Associate      False
51            Austin           Research Associate      False
50     San+Francisco           Research Associate       True
49           Chicago           Research Associate      False
48          New+York           Research Associate      False
54      Philadelphia           Research Associate      False
62             Miami           Research Associate      False
276          Seattle           Software Developer      False
277      Los+Angeles           Software Developer       True
281       Pittsburgh           Software Developer      False
274    San+Francisco           Software Developer       True
273          Chicago           Software Developer      False
278     Philadelphia           Software Developer       True
275           Austin           Software Developer       True
279          Atlanta           Software Developer       True
285          Houston           Software Developer      False
282         Portland           Software Developer      False
283          Phoenix           Software Developer      False
284           Denver           Software Developer      False
286            Miami           Software Developer      False
287  Washington+City           Software Developer       True
280           Dallas           Software Developer      False
272         New+York           Software Developer       True
269          Houston            Software Engineer      False
264           Dallas            Software Engineer      False
268           Denver            Software Engineer      False
267          Phoenix            Software Engineer      False
266         Portland            Software Engineer      False
265       Pittsburgh            Software Engineer      False
263          Atlanta            Software Engineer      False
261      Los+Angeles            Software Engineer       True
260          Seattle            Software Engineer      False
259           Austin            Software Engineer      False
258    San+Francisco            Software Engineer       True
257          Chicago            Software Engineer      False
256         New+York            Software Engineer       True
270            Miami            Software Engineer      False
262     Philadelphia            Software Engineer      False
271  Washington+City            Software Engineer       True
110            Miami          Statistical Analyst      False
255  Washington+City          Statistical Analyst       True
109          Houston          Statistical Analyst      False
108           Denver          Statistical Analyst      False
107          Phoenix          Statistical Analyst      False
106         Portland          Statistical Analyst      False
105       Pittsburgh          Statistical Analyst      False
104           Dallas          Statistical Analyst      False
103          Atlanta          Statistical Analyst       True
102     Philadelphia          Statistical Analyst       True
101      Los+Angeles          Statistical Analyst       True
100          Seattle          Statistical Analyst      False
99            Austin          Statistical Analyst       True
98     San+Francisco          Statistical Analyst       True
97           Chicago          Statistical Analyst      False
111  Washington+City          Statistical Analyst       True
96          New+York          Statistical Analyst       True
241          Chicago          Statistical Analyst      False
242    San+Francisco          Statistical Analyst       True
244          Seattle          Statistical Analyst      False
245      Los+Angeles          Statistical Analyst       True
246     Philadelphia          Statistical Analyst       True
247          Atlanta          Statistical Analyst       True
248           Dallas          Statistical Analyst      False
249       Pittsburgh          Statistical Analyst      False
250         Portland          Statistical Analyst      False
251          Phoenix          Statistical Analyst      False
252           Denver          Statistical Analyst      False
253          Houston          Statistical Analyst      False
254            Miami          Statistical Analyst      False
240         New+York          Statistical Analyst       True
243           Austin          Statistical Analyst       True

[304 rows x 3 columns]

In [25]:
test_df.groupby('job_title')['above_med'].sum().sort_values(ascending=False)

job_title
Data Engineer                  16.0
Machine Learning Engineer      16.0
Data Scientist                 16.0
Statistical Analyst            14.0
Machine Learning Specialist    13.0
Quantitative Analyst           11.0
Data Science Developer         11.0
Predictive Analyst              7.0
Database Engineer               7.0
Database Developer              7.0
Database Analyst                7.0
Software Developer              7.0
Software Engineer               4.0
Data Specialist                 4.0
Research Assistant              1.0
Research Associate              1.0
Research Analyst                0.0
Name: above_med, dtype: float64

In [26]:
test_df.sort_values('city')

                city                    job_title  above_med
151          Atlanta             Database Analyst       True
55           Atlanta           Research Associate      False
247          Atlanta          Statistical Analyst       True
263          Atlanta            Software Engineer      False
39           Atlanta                Data Engineer       True
71           Atlanta    Machine Learning Engineer       True
231          Atlanta            Database Engineer       True
87           Atlanta           Research Assistant      False
215          Atlanta  Machine Learning Specialist       True
279          Atlanta           Software Developer       True
23           Atlanta             Research Analyst      False
199          Atlanta           Predictive Analyst       True
119          Atlanta         Quantitative Analyst       True
103          Atlanta          Statistical Analyst       True
295          Atlanta           Database Developer       True
183          Atlanta             Research Analyst      False
167          Atlanta              Data Specialist      False
135          Atlanta       Data Science Developer       True
7            Atlanta               Data Scientist       True
67            Austin    Machine Learning Engineer       True
243           Austin          Statistical Analyst       True
35            Austin                Data Engineer       True
83            Austin           Research Assistant      False
227           Austin            Database Engineer       True
3             Austin               Data Scientist       True
131           Austin       Data Science Developer       True
179           Austin             Research Analyst      False
275           Austin           Software Developer       True
211           Austin  Machine Learning Specialist       True
259           Austin            Software Engineer      False
163           Austin              Data Specialist      False
115           Austin         Quantitative Analyst       True
19            Austin             Research Analyst      False
291           Austin           Database Developer       True
195           Austin           Predictive Analyst       True
51            Austin           Research Associate      False
99            Austin          Statistical Analyst       True
147           Austin             Database Analyst       True
241          Chicago          Statistical Analyst      False
65           Chicago    Machine Learning Engineer       True
129          Chicago       Data Science Developer       True
177          Chicago             Research Analyst      False
81           Chicago           Research Assistant      False
225          Chicago            Database Engineer      False
97           Chicago          Statistical Analyst      False
209          Chicago  Machine Learning Specialist       True
113          Chicago         Quantitative Analyst       True
193          Chicago           Predictive Analyst      False
145          Chicago             Database Analyst      False
257          Chicago            Software Engineer      False
161          Chicago              Data Specialist      False
33           Chicago                Data Engineer       True
1            Chicago               Data Scientist       True
49           Chicago           Research Associate      False
17           Chicago             Research Analyst      False
289          Chicago           Database Developer      False
273          Chicago           Software Developer      False
232           Dallas            Database Engineer      False
216           Dallas  Machine Learning Specialist       True
280           Dallas           Software Developer      False
24            Dallas             Research Analyst      False
104           Dallas          Statistical Analyst      False
200           Dallas           Predictive Analyst      False
72            Dallas    Machine Learning Engineer       True
120           Dallas         Quantitative Analyst      False
40            Dallas                Data Engineer       True
88            Dallas           Research Assistant      False
184           Dallas             Research Analyst      False
136           Dallas       Data Science Developer      False
8             Dallas               Data Scientist       True
296           Dallas           Database Developer      False
248           Dallas          Statistical Analyst      False
152           Dallas             Database Analyst      False
264           Dallas            Software Engineer      False
56            Dallas           Research Associate      False
168           Dallas              Data Specialist      False
188           Denver             Research Analyst      False
92            Denver           Research Assistant      False
156           Denver             Database Analyst      False
220           Denver  Machine Learning Specialist       True
28            Denver             Research Analyst      False
300           Denver           Database Developer      False
108           Denver          Statistical Analyst      False
204           Denver           Predictive Analyst      False
140           Denver       Data Science Developer       True
12            Denver               Data Scientist       True
172           Denver              Data Specialist      False
124           Denver         Quantitative Analyst       True
284           Denver           Software Developer      False
268           Denver            Software Engineer      False
44            Denver                Data Engineer       True
236           Denver            Database Engineer      False
252           Denver          Statistical Analyst      False
76            Denver    Machine Learning Engineer       True
60            Denver           Research Associate      False
77           Houston    Machine Learning Engineer       True
269          Houston            Software Engineer      False
13           Houston               Data Scientist       True
285          Houston           Software Developer      False
237          Houston            Database Engineer      False
205          Houston           Predictive Analyst      False
109          Houston          Statistical Analyst      False
45           Houston                Data Engineer       True
189          Houston             Research Analyst      False
125          Houston         Quantitative Analyst       True
141          Houston       Data Science Developer       True
157          Houston             Database Analyst      False
221          Houston  Machine Learning Specialist       True
173          Houston              Data Specialist      False
253          Houston          Statistical Analyst      False
29           Houston             Research Analyst      False
93           Houston           Research Assistant      False
61           Houston           Research Associate      False
301          Houston           Database Developer      False
53       Los+Angeles           Research Associate      False
133      Los+Angeles       Data Science Developer       True
245      Los+Angeles          Statistical Analyst       True
149      Los+Angeles             Database Analyst       True
293      Los+Angeles           Database Developer       True
5        Los+Angeles               Data Scientist       True
181      Los+Angeles             Research Analyst      False
165      Los+Angeles              Data Specialist       True
69       Los+Angeles    Machine Learning Engineer       True
261      Los+Angeles            Software Engineer       True
37       Los+Angeles                Data Engineer       True
101      Los+Angeles          Statistical Analyst       True
213      Los+Angeles  Machine Learning Specialist       True
277      Los+Angeles           Software Developer       True
21       Los+Angeles             Research Analyst      False
229      Los+Angeles            Database Engineer       True
197      Los+Angeles           Predictive Analyst       True
117      Los+Angeles         Quantitative Analyst       True
85       Los+Angeles           Research Assistant      False
174            Miami              Data Specialist      False
302            Miami           Database Developer      False
254            Miami          Statistical Analyst      False
270            Miami            Software Engineer      False
94             Miami           Research Assistant      False
222            Miami  Machine Learning Specialist      False
46             Miami                Data Engineer       True
142            Miami       Data Science Developer      False
30             Miami             Research Analyst      False
158            Miami             Database Analyst      False
126            Miami         Quantitative Analyst      False
190            Miami             Research Analyst      False
14             Miami               Data Scientist       True
286            Miami           Software Developer      False
110            Miami          Statistical Analyst      False
238            Miami            Database Engineer      False
62             Miami           Research Associate      False
..               ...                          ...        ...
288         New+York           Database Developer       True
272         New+York           Software Developer       True
176         New+York             Research Analyst      False
256         New+York            Software Engineer       True
240         New+York          Statistical Analyst       True
224         New+York            Database Engineer       True
0           New+York               Data Scientist       True
32          New+York                Data Engineer       True
112         New+York         Quantitative Analyst       True
64          New+York    Machine Learning Engineer       True
80          New+York           Research Assistant      False
144         New+York             Database Analyst       True
128         New+York       Data Science Developer       True
48          New+York           Research Associate      False
96          New+York          Statistical Analyst       True
16          New+York             Research Analyst      False
160         New+York              Data Specialist       True
294     Philadelphia           Database Developer       True
182     Philadelphia             Research Analyst      False
214     Philadelphia  Machine Learning Specialist       True
102     Philadelphia          Statistical Analyst       True
6       Philadelphia               Data Scientist       True
38      Philadelphia                Data Engineer       True
134     Philadelphia       Data Science Developer       True
86      Philadelphia           Research Assistant      False
262     Philadelphia            Software Engineer      False
278     Philadelphia           Software Developer       True
22      Philadelphia             Research Analyst      False
246     Philadelphia          Statistical Analyst       True
166     Philadelphia              Data Specialist      False
54      Philadelphia           Research Associate      False
118     Philadelphia         Quantitative Analyst       True
70      Philadelphia    Machine Learning Engineer       True
150     Philadelphia             Database Analyst       True
230     Philadelphia            Database Engineer       True
198     Philadelphia           Predictive Analyst       True
11           Phoenix               Data Scientist       True
91           Phoenix           Research Assistant      False
75           Phoenix    Machine Learning Engineer       True
267          Phoenix            Software Engineer      False
235          Phoenix            Database Engineer      False
59           Phoenix           Research Associate      False
203          Phoenix           Predictive Analyst      False
43           Phoenix                Data Engineer       True
219          Phoenix  Machine Learning Specialist      False
107          Phoenix          Statistical Analyst      False
27           Phoenix             Research Analyst      False
155          Phoenix             Database Analyst      False
283          Phoenix           Software Developer      False
171          Phoenix              Data Specialist      False
139          Phoenix       Data Science Developer      False
187          Phoenix             Research Analyst      False
299          Phoenix           Database Developer      False
251          Phoenix          Statistical Analyst      False
123          Phoenix         Quantitative Analyst      False
41        Pittsburgh                Data Engineer       True
281       Pittsburgh           Software Developer      False
25        Pittsburgh             Research Analyst      False
121       Pittsburgh         Quantitative Analyst      False
73        Pittsburgh    Machine Learning Engineer       True
89        Pittsburgh           Research Assistant      False
137       Pittsburgh       Data Science Developer      False
169       Pittsburgh              Data Specialist      False
233       Pittsburgh            Database Engineer      False
9         Pittsburgh               Data Scientist       True
185       Pittsburgh             Research Analyst      False
57        Pittsburgh           Research Associate      False
217       Pittsburgh  Machine Learning Specialist       True
297       Pittsburgh           Database Developer      False
265       Pittsburgh            Software Engineer      False
201       Pittsburgh           Predictive Analyst      False
249       Pittsburgh          Statistical Analyst      False
105       Pittsburgh          Statistical Analyst      False
153       Pittsburgh             Database Analyst      False
154         Portland             Database Analyst      False
202         Portland           Predictive Analyst      False
170         Portland              Data Specialist      False
10          Portland               Data Scientist       True
74          Portland    Machine Learning Engineer       True
58          Portland           Research Associate      False
282         Portland           Software Developer      False
106         Portland          Statistical Analyst      False
26          Portland             Research Analyst      False
122         Portland         Quantitative Analyst      False
138         Portland       Data Science Developer      False
90          Portland           Research Assistant      False
186         Portland             Research Analyst      False
218         Portland  Machine Learning Specialist      False
42          Portland                Data Engineer       True
266         Portland            Software Engineer      False
250         Portland          Statistical Analyst      False
298         Portland           Database Developer      False
234         Portland            Database Engineer      False
290    San+Francisco           Database Developer       True
34     San+Francisco                Data Engineer       True
50     San+Francisco           Research Associate       True
274    San+Francisco           Software Developer       True
258    San+Francisco            Software Engineer       True
18     San+Francisco             Research Analyst      False
226    San+Francisco            Database Engineer       True
114    San+Francisco         Quantitative Analyst       True
210    San+Francisco  Machine Learning Specialist       True
178    San+Francisco             Research Analyst      False
98     San+Francisco          Statistical Analyst       True
130    San+Francisco       Data Science Developer       True
2      San+Francisco               Data Scientist       True
194    San+Francisco           Predictive Analyst       True
82     San+Francisco           Research Assistant       True
162    San+Francisco              Data Specialist       True
242    San+Francisco          Statistical Analyst       True
66     San+Francisco    Machine Learning Engineer       True
146    San+Francisco             Database Analyst       True
148          Seattle             Database Analyst      False
4            Seattle               Data Scientist       True
164          Seattle              Data Specialist      False
180          Seattle             Research Analyst      False
276          Seattle           Software Developer      False
132          Seattle       Data Science Developer       True
244          Seattle          Statistical Analyst      False
116          Seattle         Quantitative Analyst       True
36           Seattle                Data Engineer       True
292          Seattle           Database Developer      False
212          Seattle  Machine Learning Specialist       True
100          Seattle          Statistical Analyst      False
20           Seattle             Research Analyst      False
84           Seattle           Research Assistant      False
260          Seattle            Software Engineer      False
228          Seattle            Database Engineer      False
68           Seattle    Machine Learning Engineer       True
52           Seattle           Research Associate      False
196          Seattle           Predictive Analyst      False
15   Washington+City               Data Scientist       True
159  Washington+City             Database Analyst       True
79   Washington+City    Machine Learning Engineer       True
31   Washington+City             Research Analyst      False
271  Washington+City            Software Engineer       True
47   Washington+City                Data Engineer       True
255  Washington+City          Statistical Analyst       True
63   Washington+City           Research Associate      False
239  Washington+City            Database Engineer       True
223  Washington+City  Machine Learning Specialist       True
95   Washington+City           Research Assistant      False
207  Washington+City           Predictive Analyst       True
111  Washington+City          Statistical Analyst       True
191  Washington+City             Research Analyst      False
127  Washington+City         Quantitative Analyst       True
143  Washington+City       Data Science Developer       True
175  Washington+City              Data Specialist       True
287  Washington+City           Software Developer       True
303  Washington+City           Database Developer       True

[304 rows x 3 columns]

In [27]:
test_df.groupby('city')['above_med'].sum().sort_values(ascending=False)

city
San+Francisco      17.0
Washington+City    15.0
New+York           15.0
Los+Angeles        15.0
Philadelphia       13.0
Austin             13.0
Atlanta            13.0
Seattle             6.0
Houston             6.0
Denver              6.0
Chicago             6.0
Pittsburgh          4.0
Dallas              4.0
Portland            3.0
Phoenix             3.0
Miami               3.0
Name: above_med, dtype: float64