# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary classifier.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title, and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use a random forest classifier, as well as another classifier of your choice; either logistic regression, SVM, or KNN. 

- **Question**: Why would we want this to be a classification problem?
- **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Set up a request (using requests) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)
The URL here has many query parameters
- q for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- l for a location
- start for what result number to start on

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a nobr element inside of a td element with class='snip.
- The title of a job is in a link with class set to jobtitle and a data-tn-element="jobTitle.
- The location is set in a span with class='location'.
- The company is set in a span with class='company'.

## Write 4 functions to extract these items (one function for each): location, company, job title, and salary.Â¶
Example
```python
def extract_location_from_result(result):
    return result.find ...
```

##### - Make sure these functions are robust and can handle cases where the data/field may not be available.
>- Remember to check if a field is empty or None for attempting to call methods on it
>- Remember to use try/except if you anticipate errors.

- **Test** the functions on the results above and simple examples

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.
- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the l=New+York and the start=10. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).
##### Complete the following code to collect results from multiple cities and starting points.
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

### Save your results as a CSV

In [1]:
# Export to csv
import pandas as pd
import re
data=pd.read_csv('jobs_data2.csv').drop('Unnamed: 0', axis=1)
df=data.drop_duplicates().copy()
df=df.reset_index(drop=True)
df.head()

,location,company,job_title,salary,city
0,"Houston, TX",MD Anderson Cancer Center,Institute Research Scientist - Translational B...,"$95,000 - $142,000 a year",Houston
1,"Houston, TX",MD Anderson Cancer Center,Computational Scientist,"$76,400 - $114,600 a year",Houston
2,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Neuro-Oncology - Research,"$51,600 - $77,400 a year",Houston
3,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Thoracic H&N Med Oncology...,"$51,600 - $77,400 a year",Houston
4,"Houston, TX","Earl Carl Institute for Legal & Social Policy,...",Part Time Academic Research and Writing Policy...,"$20,000 - $25,000 a year",Houston

In [2]:
df['time_frame']=['yr' if ('year' in _) \
                  else 'mo' if ('month' in _) \
                  else 'hr' if ('hour' in _) \
                  else '-'
                  for _ in df['salary']]

In [3]:
df['salary']=df['salary'].str.replace(' a year', '')
df['salary']=df['salary'].str.replace(' a month', '')
df['salary']=df['salary'].str.replace(' an hour', '')
df['salary']=df['salary'].str.replace('$', '')
df['salary']=df['salary'].str.replace('-','')
df['salary']=df['salary'].str.replace(',','')
df['salary']=df['salary'].str.strip()

In [4]:
def stringparse(test):
    if re.match(r'^\d+\ +\d+', test):
        return (float(re.findall('\d+', test)[0])+float(re.findall('\d+', test)[1]))/2
    elif re.match('\d+\.\d+\ +\d+\.+\d+', test):
        return (float(re.findall('\d+\.\d+', test)[0])+float(re.findall('\d+\.\d+', test)[1]))/2
    else:
        return (float(test))

In [5]:
df['sal_avg']=df['salary'].apply(stringparse)
df['sal_yr']=[_[1]['sal_avg'] if _[1]['time_frame']=='yr' \
              else _[1]['sal_avg']*12 if _[1]['time_frame']=='mo' \
              else _[1]['sal_avg']*2000 if _[1]['time_frame']=='hr' \
              else 0 for _ in df.iterrows()]
df.head()

,location,company,job_title,salary,city,time_frame,sal_avg,sal_yr
0,"Houston, TX",MD Anderson Cancer Center,Institute Research Scientist - Translational B...,95000 142000,Houston,yr,118500.0,118500.0
1,"Houston, TX",MD Anderson Cancer Center,Computational Scientist,76400 114600,Houston,yr,95500.0,95500.0
2,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Neuro-Oncology - Research,51600 77400,Houston,yr,64500.0,64500.0
3,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Thoracic H&N Med Oncology...,51600 77400,Houston,yr,64500.0,64500.0
4,"Houston, TX","Earl Carl Institute for Legal & Social Policy,...",Part Time Academic Research and Writing Policy...,20000 25000,Houston,yr,22500.0,22500.0

city_list=['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington+City']

## Predicting salaries using Random Forests + Another Classifier

#### Load in the the data of scraped salaries

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't _have_ to choose the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [6]:
df['above_med']=(df['sal_yr']>df['sal_yr'].median())

#### Thought experiment: What is the baseline accuracy for this model?

50/50

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [8]:
X=pd.get_dummies(df['city'])
y=df['above_med']
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=.2)
rforest=RandomForestClassifier(n_estimators=1000)
rforest.fit(X_train, y_train)
print 'RForest Acc., Location Only: '+ str(rforest.score(X_test, y_test))

RForest Acc., Location Only: 0.59375

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?
- After creating these variables, use count-vectorizer to create features based on the words in the job titles.
- Build a new random forest model with location and these new features included.

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import GridSearchCV
titles=df['job_title']
companies=df['company']

In [10]:
cvec_titles=CountVectorizer(stop_words='english', ngram_range=(2,2))
cvec_titles.fit(titles)
cvec_titles_data=cvec_titles.transform(titles)
df_titles=pd.DataFrame(cvec_titles_data.todense(), columns=cvec_titles.get_feature_names())

In [11]:
X=pd.concat([df_titles, X], axis=1)
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=.2)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model, as well as any other metrics you feel are appropriate.

In [12]:
grid_params={'n_estimators':[10,25,100,1000],
            'max_features':[15,25,50,250]}
grid=GridSearchCV(RandomForestClassifier(), param_grid=grid_params, cv=10, n_jobs=-1)
grid.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [10, 25, 100, 1000], 'max_features': [15, 25, 50, 250]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [13]:
rforest=grid.best_estimator_
rforest.fit(X_train, y_train)
print 'RForest Acc., Location+Description CVec: '+str(rforest.score(X_test, y_test))

RForest Acc., Location+Description CVec: 0.75

In [14]:
print grid.best_params_

{'max_features': 15, 'n_estimators': 1000}

#### Repeat the model-building process with a non-tree-based method.

In [15]:
from sklearn.neighbors import KNeighborsClassifier
grid_params={'p':[1,2,3],
            'weights':['uniform', 'distance'],
            'algorithm':['ball_tree', 'kd_tree', 'brute'],
            'n_neighbors':[2,5,10]}

In [16]:
grid=GridSearchCV(KNeighborsClassifier(n_jobs=-1), param_grid=grid_params)
grid.fit(X_train, y_train)
knn=grid.best_estimator_

In [17]:
print grid.best_params_
print 'knn-score'+str(knn.score(X_test, y_test))

{'n_neighbors': 2, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 1}
knn-score0.640625

In [18]:
X_train.shape

(256, 631)

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the job descriptions. 
- Examine using count or binary features in the model
- Re-evaluate your models using these. Does this improve the model performance? 
- What text features are the most valuable?

In [45]:
feature_importances = pd.DataFrame(rforest.feature_importances_,
                                   index = X.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)
pd.DataFrame(feature_importances)

                           importance
data scientist               0.087929
research analyst             0.030084
data analyst                 0.029052
data engineer                0.023447
Portland                     0.015948
San+Francisco                0.015810
machine learning             0.014592
Washington+City              0.013437
senior data                  0.012736
research associate           0.009951
scientist engineer           0.009939
Philadelphia                 0.009686
scientist associate          0.009602
statistical analyst          0.009305
Chicago                      0.009234
geospatial data              0.009221
Phoenix                      0.008268
Houston                      0.007729
quantitative analyst         0.007274
operations research          0.007188
health scientist             0.006416
ar som                       0.006267
stack engineer               0.006166
mid level                    0.006107
Miami                        0.006016
Dallas                       0.005743
New+York                     0.005622
Los+Angeles                  0.005612
Atlanta                      0.005563
research scientist           0.005396
Austin                       0.005060
laboratory technician        0.005059
big data                     0.004815
sales manager                0.004786
scientist iii                0.004782
Seattle                      0.004758
records analyst              0.004682
analytic methodologist       0.004619
analytics machine            0.004536
predictive analytics         0.004530
bureau environmental         0.004371
analyst bureau               0.004324
Pittsburgh                   0.004320
office assistant             0.004292
senior statistician          0.004169
district sales               0.004045
bioinformatics analyst       0.004044
data analysis                0.004024
assistant division           0.003910
software engineer            0.003907
technical editor             0.003757
statistician level           0.003676
division director            0.003671
lab technician               0.003462
scientist ar                 0.003408
Denver                       0.003392
sr business                  0.003275
engineering scientist        0.003272
policy analyst               0.003265
senior research              0.003167
sr research                  0.003157
mobile director              0.003109
laboratory scientist         0.003082
institute research           0.003051
clinical laboratory          0.003051
data analytics               0.002990
entry mid                    0.002956
supervisory statistician     0.002936
analytics engineer           0.002856
data science                 0.002849
research statistical         0.002736
certifying scientist         0.002646
data research                0.002646
environmental sciences       0.002607
administrative assistant     0.002606
scientist asst               0.002560
medical lab                  0.002544
medical officer              0.002479
marketing analytics          0.002459
systems software             0.002447
ms clinical                  0.002434
grant developer              0.002431
senior project               0.002427
research software            0.002400
director marketing           0.002376
civil environmental          0.002363
op program                   0.002360
developer administrative     0.002332
environmental engineer       0.002319
principle scientist          0.002304
quality assurance            0.002268
supervisory operations       0.002266
lc ms                        0.002231
oncology research            0.002228
director research            0.002227
stem research                0.002222
engineer python              0.002221
service desk                 0.002207
credit cards                 0.002169
assurance technician         0.002166
research grant               0.002139
supervising clinical         0.002132
program data                 0.002130
veterinary medical           0.002102
analyst jnr                  0.002100
desk analyst                 0.002097
environmental scientist      0.002095
statistician credit          0.002078
research analysis            0.002072
research engineering         0.002071
business analyst             0.002065
model validation             0.002059
anatomic pathology           0.002057
statistician model           0.002057
sustainability analyst       0.002036
project manager              0.002019
devops engineer              0.002018
qc laboratory                0.002011
statistical consultant       0.002000
senior software              0.001981
undergraduate internship     0.001973
senior statistical           0.001973
administrative analyst       0.001965
research assistant           0.001959
senior ios                   0.001950
internship op                0.001934
analyst specia               0.001930
integration architect        0.001903
pathology technologist       0.001890
bureau maternal              0.001882
scientist machine            0.001876
asst bioinformatics          0.001852
ios developer                0.001850
python stack                 0.001838
research policy              0.001832
data integration             0.001819
engineering accounting       0.001803
climate sustainability       0.001795
jnr data                     0.001756
associate exempt             0.001736
infant repro                 0.001698
translational biology        0.001691
scientist north              0.001679
hsc sr                       0.001678
program manager              0.001675
scientist bureau             0.001658
scientist translational      0.001652
scientist sr                 0.001649
post doctoral                0.001643
research data                0.001641
...                               ...
deep learning                0.000269
ci poly                      0.000242
nlp machine                  0.000239
scientist optimization       0.000238
optimization engineer        0.000238
position yard                0.000234
video machine                0.000234
field position               0.000226
scientist statistician       0.000225
engineer aws                 0.000225
redshift mysql               0.000221
line camera                  0.000217
scientist pharma             0.000204
sci ci                       0.000198
aws redshift                 0.000180
data visualization           0.000176
statistical modeling         0.000171
statistician data            0.000170
learning field               0.000157
scientist deep               0.000157
statistician statistical     0.000155
yard line                    0.000154
mysql python                 0.000150
scientist nlp                0.000147
perm dc                      0.000139
learning specialist          0.000123
learning perm                0.000118
learning team                0.000098
team buildout                0.000094
scientist som                0.000000
gps data                     0.000000
prevention control           0.000000
prevention contr             0.000000
physical scientist           0.000000
planning research            0.000000
analyst 12726                0.000000
gene therapy                 0.000000
transplant oversight         0.000000
hazard assessment            0.000000
health registr               0.000000
therapy molecular            0.000000
fintech python               0.000000
technician molecular         0.000000
technician lead              0.000000
panel maintenance            0.000000
tableau rshiny               0.000000
product manager              0.000000
exempt data                  0.000000
systems engine               0.000000
exempt colla                 0.000000
provider specialist          0.000000
psychiatry assistant         0.000000
public health                0.000000
analyst open                 0.000000
python aws                   0.000000
urban planning               0.000000
organ transplant             0.000000
oversight coordinator        0.000000
molecular cellular           0.000000
learning researcher          0.000000
learning developer           0.000000
learning data                0.000000
lead machine                 0.000000
12726 grad                   0.000000
maintenance analyst          0.000000
large scale                  0.000000
medical laboratory           0.000000
institutional large          0.000000
institute associate          0.000000
information systems          0.000000
modeling water               0.000000
youth famili                 0.000000
health safety                0.000000
molecular cloning            0.000000
aids prevention              0.000000
workflow engineer            0.000000
air quality                  0.000000
ii vivo                      0.000000
water quality                0.000000
open filled                  0.000000
hiv aids                     0.000000
warm ranking                 0.000000
vp data                      0.000000
vivo pharmacology            0.000000
python machine               0.000000
estate urban                 0.000000
environmental health         0.000000
analyst world                0.000000
bureau children              0.000000
aws azure                    0.000000
site hazard                  0.000000
scientist assistant          0.000000
coordinated entry            0.000000
scientist ast                0.000000
biochemical automation       0.000000
computer scientist           0.000000
bioinformatics programmer    0.000000
computational scientist      0.000000
scientist chemist            0.000000
senior product               0.000000
senior policy                0.000000
senior modeler               0.000000
bureau hiv                   0.000000
automation workflow          0.000000
coder trainee                0.000000
cloning elisa                0.000000
cellular biology             0.000000
scientist gene               0.000000
scientist gps                0.000000
center health                0.000000
scientist healthcare         0.000000
clinical data                0.000000
scientist trainee            0.000000
scientist marketing          0.000000
scientist tableau            0.000000
children youth               0.000000
chain technician             0.000000
coordinator bureau           0.000000
atmospheric chemistry        0.000000
analytical scientist         0.000000
researcher data              0.000000
scientist software           0.000000
apps developer               0.000000
quality planner              0.000000
assessment warm              0.000000
quality planning             0.000000
engineer rt                  0.000000
ranking specialist           0.000000
real estate                  0.000000
director coordinated         0.000000
developer administ           0.000000
research laboratory          0.000000
assistant scientist          0.000000
research physical            0.000000
associate information        0.000000
ast atmospheric              0.000000
rshiny d3                    0.000000
safety auditor               0.000000
scale research               0.000000
associate sponsored          0.000000
sr machine                   0.000000
science fintech              0.000000
science nyc                  0.000000
sr biochemical               0.000000
sponsored research           0.000000
specialist natural           0.000000
specialist coder             0.000000
sciences en                  0.000000
assurance analyst            0.000000
coordinator pc               0.000000

[631 rows x 1 columns]

### TESTING

In [83]:
test_titles=['Data Scientist', 'Research Analyst', 'Data Engineer', 'Research Associate',
             'Machine Learning Engineer', 'Research Assistant', 'Statistical Analyst', 
             'Quantitative Analyst','Data Science Developer', 'Database Analyst',
             'Data Specialist', 'Research Analyst', 'Predictive Analyst', 'Machine Learning Specialist',
            'Database Engineer', 'Statistical Analyst', 'Software Engineer', 'Software Developer', 'Database Developer']
             
city_list=['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
           'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
           'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington+City']
dftest_title_list=[]
dftest_city_list=[]
for tit in test_titles:
    for cit in city_list:
        dftest_title_list.append(tit)
        dftest_city_list.append(cit)
test_df=pd.DataFrame({'job_title':dftest_title_list, 'city':dftest_city_list})

In [84]:
test_X=pd.get_dummies(test_df['city'])
test_titlevecs=cvec_titles.transform(test_df['job_title'])
test_df_titles=pd.DataFrame(test_titlevecs.todense(), columns=cvec_titles.get_feature_names())
test_X=pd.concat([test_df_titles, test_X], axis=1)

In [85]:
y_pred=rforest.predict(test_X)

In [86]:
test_df['above_med']=y_pred

In [87]:
pd.set_option("display.max_rows",300)
test_df.sort_values('job_title')

                city                    job_title  above_med
39           Atlanta                Data Engineer       True
34     San+Francisco                Data Engineer       True
35            Austin                Data Engineer       True
36           Seattle                Data Engineer       True
37       Los+Angeles                Data Engineer       True
38      Philadelphia                Data Engineer       True
40            Dallas                Data Engineer       True
41        Pittsburgh                Data Engineer       True
42          Portland                Data Engineer       True
43           Phoenix                Data Engineer       True
44            Denver                Data Engineer       True
45           Houston                Data Engineer       True
46             Miami                Data Engineer       True
33           Chicago                Data Engineer       True
47   Washington+City                Data Engineer       True
32          New+York                Data Engineer       True
142            Miami       Data Science Developer       True
141          Houston       Data Science Developer      False
140           Denver       Data Science Developer       True
139          Phoenix       Data Science Developer      False
138         Portland       Data Science Developer      False
137       Pittsburgh       Data Science Developer      False
136           Dallas       Data Science Developer      False
135          Atlanta       Data Science Developer       True
129          Chicago       Data Science Developer       True
134     Philadelphia       Data Science Developer       True
133      Los+Angeles       Data Science Developer       True
132          Seattle       Data Science Developer       True
131           Austin       Data Science Developer       True
130    San+Francisco       Data Science Developer       True
143  Washington+City       Data Science Developer       True
128         New+York       Data Science Developer       True
0           New+York               Data Scientist       True
14             Miami               Data Scientist       True
13           Houston               Data Scientist       True
12            Denver               Data Scientist       True
11           Phoenix               Data Scientist       True
10          Portland               Data Scientist       True
9         Pittsburgh               Data Scientist       True
15   Washington+City               Data Scientist       True
8             Dallas               Data Scientist       True
6       Philadelphia               Data Scientist       True
5        Los+Angeles               Data Scientist       True
4            Seattle               Data Scientist       True
3             Austin               Data Scientist       True
2      San+Francisco               Data Scientist       True
1            Chicago               Data Scientist       True
7            Atlanta               Data Scientist       True
160         New+York              Data Specialist      False
161          Chicago              Data Specialist      False
174            Miami              Data Specialist      False
162    San+Francisco              Data Specialist       True
163           Austin              Data Specialist       True
164          Seattle              Data Specialist      False
165      Los+Angeles              Data Specialist       True
166     Philadelphia              Data Specialist       True
167          Atlanta              Data Specialist      False
168           Dallas              Data Specialist      False
169       Pittsburgh              Data Specialist      False
170         Portland              Data Specialist      False
171          Phoenix              Data Specialist      False
172           Denver              Data Specialist      False
173          Houston              Data Specialist      False
175  Washington+City              Data Specialist       True
157          Houston             Database Analyst      False
144         New+York             Database Analyst      False
145          Chicago             Database Analyst      False
146    San+Francisco             Database Analyst       True
147           Austin             Database Analyst       True
148          Seattle             Database Analyst      False
149      Los+Angeles             Database Analyst       True
150     Philadelphia             Database Analyst       True
159  Washington+City             Database Analyst       True
153       Pittsburgh             Database Analyst      False
154         Portland             Database Analyst      False
155          Phoenix             Database Analyst      False
156           Denver             Database Analyst      False
158            Miami             Database Analyst      False
152           Dallas             Database Analyst      False
151          Atlanta             Database Analyst      False
303  Washington+City           Database Developer       True
302            Miami           Database Developer      False
288         New+York           Database Developer      False
289          Chicago           Database Developer      False
290    San+Francisco           Database Developer       True
292          Seattle           Database Developer      False
293      Los+Angeles           Database Developer       True
294     Philadelphia           Database Developer       True
291           Austin           Database Developer       True
296           Dallas           Database Developer      False
297       Pittsburgh           Database Developer      False
298         Portland           Database Developer      False
299          Phoenix           Database Developer      False
300           Denver           Database Developer      False
301          Houston           Database Developer      False
295          Atlanta           Database Developer      False
229      Los+Angeles            Database Engineer       True
224         New+York            Database Engineer      False
225          Chicago            Database Engineer      False
226    San+Francisco            Database Engineer       True
227           Austin            Database Engineer       True
228          Seattle            Database Engineer      False
230     Philadelphia            Database Engineer       True
231          Atlanta            Database Engineer      False
232           Dallas            Database Engineer      False
233       Pittsburgh            Database Engineer      False
234         Portland            Database Engineer      False
235          Phoenix            Database Engineer      False
236           Denver            Database Engineer      False
237          Houston            Database Engineer      False
238            Miami            Database Engineer      False
239  Washington+City            Database Engineer       True
76            Denver    Machine Learning Engineer       True
74          Portland    Machine Learning Engineer       True
73        Pittsburgh    Machine Learning Engineer       True
72            Dallas    Machine Learning Engineer       True
71           Atlanta    Machine Learning Engineer       True
70      Philadelphia    Machine Learning Engineer       True
66     San+Francisco    Machine Learning Engineer       True
68           Seattle    Machine Learning Engineer       True
67            Austin    Machine Learning Engineer       True
77           Houston    Machine Learning Engineer       True
65           Chicago    Machine Learning Engineer       True
64          New+York    Machine Learning Engineer       True
79   Washington+City    Machine Learning Engineer       True
69       Los+Angeles    Machine Learning Engineer       True
78             Miami    Machine Learning Engineer       True
75           Phoenix    Machine Learning Engineer       True
211           Austin  Machine Learning Specialist       True
209          Chicago  Machine Learning Specialist       True
210    San+Francisco  Machine Learning Specialist       True
212          Seattle  Machine Learning Specialist       True
213      Los+Angeles  Machine Learning Specialist       True
214     Philadelphia  Machine Learning Specialist       True
215          Atlanta  Machine Learning Specialist       True
216           Dallas  Machine Learning Specialist       True
217       Pittsburgh  Machine Learning Specialist       True
218         Portland  Machine Learning Specialist      False
219          Phoenix  Machine Learning Specialist       True
220           Denver  Machine Learning Specialist       True
221          Houston  Machine Learning Specialist       True
208         New+York  Machine Learning Specialist       True
222            Miami  Machine Learning Specialist       True
223  Washington+City  Machine Learning Specialist       True
203          Phoenix           Predictive Analyst      False
192         New+York           Predictive Analyst      False
206            Miami           Predictive Analyst      False
193          Chicago           Predictive Analyst      False
194    San+Francisco           Predictive Analyst       True
195           Austin           Predictive Analyst       True
..               ...                          ...        ...
199          Atlanta           Predictive Analyst      False
200           Dallas           Predictive Analyst      False
201       Pittsburgh           Predictive Analyst      False
202         Portland           Predictive Analyst      False
196          Seattle           Predictive Analyst      False
207  Washington+City           Predictive Analyst       True
126            Miami         Quantitative Analyst       True
112         New+York         Quantitative Analyst       True
125          Houston         Quantitative Analyst       True
124           Denver         Quantitative Analyst       True
123          Phoenix         Quantitative Analyst       True
127  Washington+City         Quantitative Analyst       True
121       Pittsburgh         Quantitative Analyst       True
120           Dallas         Quantitative Analyst       True
122         Portland         Quantitative Analyst      False
118     Philadelphia         Quantitative Analyst       True
117      Los+Angeles         Quantitative Analyst       True
116          Seattle         Quantitative Analyst       True
115           Austin         Quantitative Analyst       True
114    San+Francisco         Quantitative Analyst       True
113          Chicago         Quantitative Analyst       True
119          Atlanta         Quantitative Analyst       True
185       Pittsburgh             Research Analyst      False
190            Miami             Research Analyst      False
189          Houston             Research Analyst      False
188           Denver             Research Analyst      False
187          Phoenix             Research Analyst      False
186         Portland             Research Analyst      False
184           Dallas             Research Analyst      False
191  Washington+City             Research Analyst      False
182     Philadelphia             Research Analyst      False
31   Washington+City             Research Analyst      False
30             Miami             Research Analyst      False
29           Houston             Research Analyst      False
183          Atlanta             Research Analyst      False
27           Phoenix             Research Analyst      False
26          Portland             Research Analyst      False
25        Pittsburgh             Research Analyst      False
24            Dallas             Research Analyst      False
23           Atlanta             Research Analyst      False
22      Philadelphia             Research Analyst      False
21       Los+Angeles             Research Analyst      False
28            Denver             Research Analyst      False
19            Austin             Research Analyst      False
20           Seattle             Research Analyst      False
181      Los+Angeles             Research Analyst      False
179           Austin             Research Analyst      False
178    San+Francisco             Research Analyst      False
180          Seattle             Research Analyst      False
176         New+York             Research Analyst      False
16          New+York             Research Analyst      False
17           Chicago             Research Analyst      False
18     San+Francisco             Research Analyst      False
177          Chicago             Research Analyst      False
90          Portland           Research Assistant      False
94             Miami           Research Assistant      False
93           Houston           Research Assistant      False
92            Denver           Research Assistant      False
91           Phoenix           Research Assistant      False
89        Pittsburgh           Research Assistant      False
83            Austin           Research Assistant       True
87           Atlanta           Research Assistant      False
86      Philadelphia           Research Assistant       True
85       Los+Angeles           Research Assistant       True
84           Seattle           Research Assistant      False
82     San+Francisco           Research Assistant       True
81           Chicago           Research Assistant      False
88            Dallas           Research Assistant      False
95   Washington+City           Research Assistant       True
80          New+York           Research Assistant      False
58          Portland           Research Associate      False
63   Washington+City           Research Associate      False
61           Houston           Research Associate      False
60            Denver           Research Associate      False
59           Phoenix           Research Associate      False
57        Pittsburgh           Research Associate      False
56            Dallas           Research Associate      False
55           Atlanta           Research Associate      False
53       Los+Angeles           Research Associate      False
52           Seattle           Research Associate      False
51            Austin           Research Associate      False
50     San+Francisco           Research Associate       True
49           Chicago           Research Associate      False
48          New+York           Research Associate      False
54      Philadelphia           Research Associate      False
62             Miami           Research Associate      False
276          Seattle           Software Developer      False
277      Los+Angeles           Software Developer       True
281       Pittsburgh           Software Developer      False
274    San+Francisco           Software Developer       True
273          Chicago           Software Developer      False
278     Philadelphia           Software Developer       True
275           Austin           Software Developer       True
279          Atlanta           Software Developer      False
285          Houston           Software Developer      False
282         Portland           Software Developer      False
283          Phoenix           Software Developer      False
284           Denver           Software Developer      False
286            Miami           Software Developer      False
287  Washington+City           Software Developer       True
280           Dallas           Software Developer      False
272         New+York           Software Developer      False
269          Houston            Software Engineer      False
264           Dallas            Software Engineer      False
268           Denver            Software Engineer      False
267          Phoenix            Software Engineer      False
266         Portland            Software Engineer      False
265       Pittsburgh            Software Engineer      False
263          Atlanta            Software Engineer      False
261      Los+Angeles            Software Engineer       True
260          Seattle            Software Engineer      False
259           Austin            Software Engineer       True
258    San+Francisco            Software Engineer       True
257          Chicago            Software Engineer       True
256         New+York            Software Engineer      False
270            Miami            Software Engineer      False
262     Philadelphia            Software Engineer       True
271  Washington+City            Software Engineer       True
110            Miami          Statistical Analyst      False
255  Washington+City          Statistical Analyst       True
109          Houston          Statistical Analyst      False
108           Denver          Statistical Analyst      False
107          Phoenix          Statistical Analyst      False
106         Portland          Statistical Analyst      False
105       Pittsburgh          Statistical Analyst      False
104           Dallas          Statistical Analyst      False
103          Atlanta          Statistical Analyst       True
102     Philadelphia          Statistical Analyst       True
101      Los+Angeles          Statistical Analyst       True
100          Seattle          Statistical Analyst      False
99            Austin          Statistical Analyst       True
98     San+Francisco          Statistical Analyst       True
97           Chicago          Statistical Analyst      False
111  Washington+City          Statistical Analyst       True
96          New+York          Statistical Analyst      False
241          Chicago          Statistical Analyst      False
242    San+Francisco          Statistical Analyst       True
244          Seattle          Statistical Analyst      False
245      Los+Angeles          Statistical Analyst       True
246     Philadelphia          Statistical Analyst       True
247          Atlanta          Statistical Analyst       True
248           Dallas          Statistical Analyst      False
249       Pittsburgh          Statistical Analyst      False
250         Portland          Statistical Analyst      False
251          Phoenix          Statistical Analyst      False
252           Denver          Statistical Analyst      False
253          Houston          Statistical Analyst      False
254            Miami          Statistical Analyst      False
240         New+York          Statistical Analyst      False
243           Austin          Statistical Analyst       True

[304 rows x 3 columns]

In [88]:
test_df.groupby('job_title')['above_med'].sum().sort_values(ascending=False)

job_title
Data Engineer                  16.0
Data Scientist                 16.0
Machine Learning Engineer      16.0
Quantitative Analyst           15.0
Machine Learning Specialist    15.0
Statistical Analyst            12.0
Data Science Developer         11.0
Software Engineer               6.0
Research Assistant              5.0
Predictive Analyst              5.0
Database Engineer               5.0
Database Developer              5.0
Database Analyst                5.0
Data Specialist                 5.0
Software Developer              5.0
Research Associate              1.0
Research Analyst                0.0
Name: above_med, dtype: float64

In [89]:
test_df.sort_values('city')

                city                    job_title  above_med
151          Atlanta             Database Analyst      False
55           Atlanta           Research Associate      False
247          Atlanta          Statistical Analyst       True
263          Atlanta            Software Engineer      False
39           Atlanta                Data Engineer       True
71           Atlanta    Machine Learning Engineer       True
231          Atlanta            Database Engineer      False
87           Atlanta           Research Assistant      False
215          Atlanta  Machine Learning Specialist       True
279          Atlanta           Software Developer      False
23           Atlanta             Research Analyst      False
199          Atlanta           Predictive Analyst      False
119          Atlanta         Quantitative Analyst       True
103          Atlanta          Statistical Analyst       True
295          Atlanta           Database Developer      False
183          Atlanta             Research Analyst      False
167          Atlanta              Data Specialist      False
135          Atlanta       Data Science Developer       True
7            Atlanta               Data Scientist       True
67            Austin    Machine Learning Engineer       True
243           Austin          Statistical Analyst       True
35            Austin                Data Engineer       True
83            Austin           Research Assistant       True
227           Austin            Database Engineer       True
3             Austin               Data Scientist       True
131           Austin       Data Science Developer       True
179           Austin             Research Analyst      False
275           Austin           Software Developer       True
211           Austin  Machine Learning Specialist       True
259           Austin            Software Engineer       True
163           Austin              Data Specialist       True
115           Austin         Quantitative Analyst       True
19            Austin             Research Analyst      False
291           Austin           Database Developer       True
195           Austin           Predictive Analyst       True
51            Austin           Research Associate      False
99            Austin          Statistical Analyst       True
147           Austin             Database Analyst       True
241          Chicago          Statistical Analyst      False
65           Chicago    Machine Learning Engineer       True
129          Chicago       Data Science Developer       True
177          Chicago             Research Analyst      False
81           Chicago           Research Assistant      False
225          Chicago            Database Engineer      False
97           Chicago          Statistical Analyst      False
209          Chicago  Machine Learning Specialist       True
113          Chicago         Quantitative Analyst       True
193          Chicago           Predictive Analyst      False
145          Chicago             Database Analyst      False
257          Chicago            Software Engineer       True
161          Chicago              Data Specialist      False
33           Chicago                Data Engineer       True
1            Chicago               Data Scientist       True
49           Chicago           Research Associate      False
17           Chicago             Research Analyst      False
289          Chicago           Database Developer      False
273          Chicago           Software Developer      False
232           Dallas            Database Engineer      False
216           Dallas  Machine Learning Specialist       True
280           Dallas           Software Developer      False
24            Dallas             Research Analyst      False
104           Dallas          Statistical Analyst      False
200           Dallas           Predictive Analyst      False
72            Dallas    Machine Learning Engineer       True
120           Dallas         Quantitative Analyst       True
40            Dallas                Data Engineer       True
88            Dallas           Research Assistant      False
184           Dallas             Research Analyst      False
136           Dallas       Data Science Developer      False
8             Dallas               Data Scientist       True
296           Dallas           Database Developer      False
248           Dallas          Statistical Analyst      False
152           Dallas             Database Analyst      False
264           Dallas            Software Engineer      False
56            Dallas           Research Associate      False
168           Dallas              Data Specialist      False
188           Denver             Research Analyst      False
92            Denver           Research Assistant      False
156           Denver             Database Analyst      False
220           Denver  Machine Learning Specialist       True
28            Denver             Research Analyst      False
300           Denver           Database Developer      False
108           Denver          Statistical Analyst      False
204           Denver           Predictive Analyst      False
140           Denver       Data Science Developer       True
12            Denver               Data Scientist       True
172           Denver              Data Specialist      False
124           Denver         Quantitative Analyst       True
284           Denver           Software Developer      False
268           Denver            Software Engineer      False
44            Denver                Data Engineer       True
236           Denver            Database Engineer      False
252           Denver          Statistical Analyst      False
76            Denver    Machine Learning Engineer       True
60            Denver           Research Associate      False
77           Houston    Machine Learning Engineer       True
269          Houston            Software Engineer      False
13           Houston               Data Scientist       True
285          Houston           Software Developer      False
237          Houston            Database Engineer      False
205          Houston           Predictive Analyst      False
109          Houston          Statistical Analyst      False
45           Houston                Data Engineer       True
189          Houston             Research Analyst      False
125          Houston         Quantitative Analyst       True
141          Houston       Data Science Developer      False
157          Houston             Database Analyst      False
221          Houston  Machine Learning Specialist       True
173          Houston              Data Specialist      False
253          Houston          Statistical Analyst      False
29           Houston             Research Analyst      False
93           Houston           Research Assistant      False
61           Houston           Research Associate      False
301          Houston           Database Developer      False
53       Los+Angeles           Research Associate      False
133      Los+Angeles       Data Science Developer       True
245      Los+Angeles          Statistical Analyst       True
149      Los+Angeles             Database Analyst       True
293      Los+Angeles           Database Developer       True
5        Los+Angeles               Data Scientist       True
181      Los+Angeles             Research Analyst      False
165      Los+Angeles              Data Specialist       True
69       Los+Angeles    Machine Learning Engineer       True
261      Los+Angeles            Software Engineer       True
37       Los+Angeles                Data Engineer       True
101      Los+Angeles          Statistical Analyst       True
213      Los+Angeles  Machine Learning Specialist       True
277      Los+Angeles           Software Developer       True
21       Los+Angeles             Research Analyst      False
229      Los+Angeles            Database Engineer       True
197      Los+Angeles           Predictive Analyst       True
117      Los+Angeles         Quantitative Analyst       True
85       Los+Angeles           Research Assistant       True
174            Miami              Data Specialist      False
302            Miami           Database Developer      False
254            Miami          Statistical Analyst      False
270            Miami            Software Engineer      False
94             Miami           Research Assistant      False
222            Miami  Machine Learning Specialist       True
46             Miami                Data Engineer       True
142            Miami       Data Science Developer       True
30             Miami             Research Analyst      False
158            Miami             Database Analyst      False
126            Miami         Quantitative Analyst       True
190            Miami             Research Analyst      False
14             Miami               Data Scientist       True
286            Miami           Software Developer      False
110            Miami          Statistical Analyst      False
238            Miami            Database Engineer      False
62             Miami           Research Associate      False
..               ...                          ...        ...
288         New+York           Database Developer      False
272         New+York           Software Developer      False
176         New+York             Research Analyst      False
256         New+York            Software Engineer      False
240         New+York          Statistical Analyst      False
224         New+York            Database Engineer      False
0           New+York               Data Scientist       True
32          New+York                Data Engineer       True
112         New+York         Quantitative Analyst       True
64          New+York    Machine Learning Engineer       True
80          New+York           Research Assistant      False
144         New+York             Database Analyst      False
128         New+York       Data Science Developer       True
48          New+York           Research Associate      False
96          New+York          Statistical Analyst      False
16          New+York             Research Analyst      False
160         New+York              Data Specialist      False
294     Philadelphia           Database Developer       True
182     Philadelphia             Research Analyst      False
214     Philadelphia  Machine Learning Specialist       True
102     Philadelphia          Statistical Analyst       True
6       Philadelphia               Data Scientist       True
38      Philadelphia                Data Engineer       True
134     Philadelphia       Data Science Developer       True
86      Philadelphia           Research Assistant       True
262     Philadelphia            Software Engineer       True
278     Philadelphia           Software Developer       True
22      Philadelphia             Research Analyst      False
246     Philadelphia          Statistical Analyst       True
166     Philadelphia              Data Specialist       True
54      Philadelphia           Research Associate      False
118     Philadelphia         Quantitative Analyst       True
70      Philadelphia    Machine Learning Engineer       True
150     Philadelphia             Database Analyst       True
230     Philadelphia            Database Engineer       True
198     Philadelphia           Predictive Analyst       True
11           Phoenix               Data Scientist       True
91           Phoenix           Research Assistant      False
75           Phoenix    Machine Learning Engineer       True
267          Phoenix            Software Engineer      False
235          Phoenix            Database Engineer      False
59           Phoenix           Research Associate      False
203          Phoenix           Predictive Analyst      False
43           Phoenix                Data Engineer       True
219          Phoenix  Machine Learning Specialist       True
107          Phoenix          Statistical Analyst      False
27           Phoenix             Research Analyst      False
155          Phoenix             Database Analyst      False
283          Phoenix           Software Developer      False
171          Phoenix              Data Specialist      False
139          Phoenix       Data Science Developer      False
187          Phoenix             Research Analyst      False
299          Phoenix           Database Developer      False
251          Phoenix          Statistical Analyst      False
123          Phoenix         Quantitative Analyst       True
41        Pittsburgh                Data Engineer       True
281       Pittsburgh           Software Developer      False
25        Pittsburgh             Research Analyst      False
121       Pittsburgh         Quantitative Analyst       True
73        Pittsburgh    Machine Learning Engineer       True
89        Pittsburgh           Research Assistant      False
137       Pittsburgh       Data Science Developer      False
169       Pittsburgh              Data Specialist      False
233       Pittsburgh            Database Engineer      False
9         Pittsburgh               Data Scientist       True
185       Pittsburgh             Research Analyst      False
57        Pittsburgh           Research Associate      False
217       Pittsburgh  Machine Learning Specialist       True
297       Pittsburgh           Database Developer      False
265       Pittsburgh            Software Engineer      False
201       Pittsburgh           Predictive Analyst      False
249       Pittsburgh          Statistical Analyst      False
105       Pittsburgh          Statistical Analyst      False
153       Pittsburgh             Database Analyst      False
154         Portland             Database Analyst      False
202         Portland           Predictive Analyst      False
170         Portland              Data Specialist      False
10          Portland               Data Scientist       True
74          Portland    Machine Learning Engineer       True
58          Portland           Research Associate      False
282         Portland           Software Developer      False
106         Portland          Statistical Analyst      False
26          Portland             Research Analyst      False
122         Portland         Quantitative Analyst      False
138         Portland       Data Science Developer      False
90          Portland           Research Assistant      False
186         Portland             Research Analyst      False
218         Portland  Machine Learning Specialist      False
42          Portland                Data Engineer       True
266         Portland            Software Engineer      False
250         Portland          Statistical Analyst      False
298         Portland           Database Developer      False
234         Portland            Database Engineer      False
290    San+Francisco           Database Developer       True
34     San+Francisco                Data Engineer       True
50     San+Francisco           Research Associate       True
274    San+Francisco           Software Developer       True
258    San+Francisco            Software Engineer       True
18     San+Francisco             Research Analyst      False
226    San+Francisco            Database Engineer       True
114    San+Francisco         Quantitative Analyst       True
210    San+Francisco  Machine Learning Specialist       True
178    San+Francisco             Research Analyst      False
98     San+Francisco          Statistical Analyst       True
130    San+Francisco       Data Science Developer       True
2      San+Francisco               Data Scientist       True
194    San+Francisco           Predictive Analyst       True
82     San+Francisco           Research Assistant       True
162    San+Francisco              Data Specialist       True
242    San+Francisco          Statistical Analyst       True
66     San+Francisco    Machine Learning Engineer       True
146    San+Francisco             Database Analyst       True
148          Seattle             Database Analyst      False
4            Seattle               Data Scientist       True
164          Seattle              Data Specialist      False
180          Seattle             Research Analyst      False
276          Seattle           Software Developer      False
132          Seattle       Data Science Developer       True
244          Seattle          Statistical Analyst      False
116          Seattle         Quantitative Analyst       True
36           Seattle                Data Engineer       True
292          Seattle           Database Developer      False
212          Seattle  Machine Learning Specialist       True
100          Seattle          Statistical Analyst      False
20           Seattle             Research Analyst      False
84           Seattle           Research Assistant      False
260          Seattle            Software Engineer      False
228          Seattle            Database Engineer      False
68           Seattle    Machine Learning Engineer       True
52           Seattle           Research Associate      False
196          Seattle           Predictive Analyst      False
15   Washington+City               Data Scientist       True
159  Washington+City             Database Analyst       True
79   Washington+City    Machine Learning Engineer       True
31   Washington+City             Research Analyst      False
271  Washington+City            Software Engineer       True
47   Washington+City                Data Engineer       True
255  Washington+City          Statistical Analyst       True
63   Washington+City           Research Associate      False
239  Washington+City            Database Engineer       True
223  Washington+City  Machine Learning Specialist       True
95   Washington+City           Research Assistant       True
207  Washington+City           Predictive Analyst       True
111  Washington+City          Statistical Analyst       True
191  Washington+City             Research Analyst      False
127  Washington+City         Quantitative Analyst       True
143  Washington+City       Data Science Developer       True
175  Washington+City              Data Specialist       True
287  Washington+City           Software Developer       True
303  Washington+City           Database Developer       True

[304 rows x 3 columns]

In [91]:
test_df.groupby('city')['above_med'].sum().sort_values(ascending=False)

city
San+Francisco      17.0
Washington+City    16.0
Philadelphia       16.0
Los+Angeles        16.0
Austin             16.0
Atlanta             8.0
Chicago             7.0
Seattle             6.0
New+York            6.0
Miami               6.0
Denver              6.0
Pittsburgh          5.0
Phoenix             5.0
Houston             5.0
Dallas              5.0
Portland            3.0
Name: above_med, dtype: float64

In [54]:
df

,location,company,job_title,salary,city,time_frame,sal_avg,sal_yr,above_med
0,"Houston, TX",MD Anderson Cancer Center,Institute Research Scientist - Translational B...,95000 142000,Houston,yr,118500.000,118500.0,True
1,"Houston, TX",MD Anderson Cancer Center,Computational Scientist,76400 114600,Houston,yr,95500.000,95500.0,True
2,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Neuro-Oncology - Research,51600 77400,Houston,yr,64500.000,64500.0,False
3,"Houston, TX",MD Anderson Cancer Center,Research Scientist - Thoracic H&N Med Oncology...,51600 77400,Houston,yr,64500.000,64500.0,False
4,"Houston, TX","Earl Carl Institute for Legal & Social Policy,...",Part Time Academic Research and Writing Policy...,20000 25000,Houston,yr,22500.000,22500.0,False
5,"Houston, TX",Rice University,Research Scientist,40800 79100,Houston,yr,59950.000,59950.0,False
6,"Houston, TX",Baylor College of Medicine,Quality Assurance Analyst (Research),43794,Houston,yr,43794.000,43794.0,False
7,"Houston, TX",MD Anderson Cancer Center,Research Admin Analyst,45500 82000,Houston,yr,63750.000,63750.0,False
8,"Houston, TX",MD Anderson Cancer Center,Research Statistical Analyst -Bioinformatics &...,66400 99600,Houston,yr,83000.000,83000.0,False
9,"Houston, TX",MD Anderson Cancer Center,Data Analyst- Immunology,42400 63600,Houston,yr,53000.000,53000.0,False
10,"Houston, TX",MD Anderson Cancer Center,Institute Associate Scientist II - In Vivo Pha...,46500 83000,Houston,yr,64750.000,64750.0,False
11,"Houston, TX",MD Anderson Cancer Center,Senior Research Assistant - Neurosurgery Research,38000 57000,Houston,yr,47500.000,47500.0,False
12,"Houston, TX",MD Anderson Cancer Center,Institute Assoc Scientist III - Neurodegenerat...,62500 94000,Houston,yr,78250.000,78250.0,False
13,"League City, TX",The University of Texas Medical Branch,Medical Lab Scientist,53600 80400,Houston,yr,67000.000,67000.0,False
14,"Houston, TX",MD Anderson Cancer Center,"Research Programmer - Genetics, next generatio...",66400 99600,Houston,yr,83000.000,83000.0,False
15,"Houston, TX",MD Anderson Cancer Center,Principal Institute Research Scientist - Drug ...,125000 187000,Houston,yr,156000.000,156000.0,True
16,"Houston, TX",MD Anderson Cancer Center,"Sr Systems Analyst, Quantitative Research Comp...",76400 114600,Houston,yr,95500.000,95500.0,True
17,"Houston, TX",Oscar Technology,Head of Engineering - Accounting Platform,200000 300000,Houston,yr,250000.000,250000.0,True
18,"Houston, TX 77046",Robert Half Technology,Data Scientist,125000 150000,Houston,yr,137500.000,137500.0,True
19,"Washington, DC",Central Intelligence Agency,Undergraduate Internship/Co-op Program - Data ...,21.44 25.84,Washington+City,hr,23.640,47280.0,False
20,"Washington, DC",Central Intelligence Agency,Data Scientist,62338 119794,Washington+City,yr,91066.000,91066.0,True
21,"Silver Spring, MD",Department of Health And Human Services,Supervisory Operations Research Analyst,131767 161900,Washington+City,yr,146833.500,146833.5,True
22,"Greenbelt, MD",National Aeronautics and Space Administration,"Research Physical Scientist, AST, Atmospheric ...",94796 145629,Washington+City,yr,120212.500,120212.5,True
23,"Washington, DC","Edwards Management Consultants, Inc.",ALL Full Scope Poly Candidates - Apply NOW!,150000 210000,Washington+City,yr,180000.000,180000.0,True
24,"Washington, DC",Metropolitan Police Department,Data Scientist,76082 97340,Washington+City,yr,86711.000,86711.0,False
25,"Bethesda, MD",Medical Science & Computing,Computational Image Data Analysis Manager,100000,Washington+City,yr,100000.000,100000.0,True
26,"Silver Spring, MD 20902",The Maryland-National Capital Park and Plannin...,Real Estate and Urban Planning Research Analys...,58556 100394,Washington+City,yr,79475.000,79475.0,False
27,"Gaithersburg, MD 20877",Contingent/Direct Consultants,Statistician - Healthcare or Pharma Industry,100000 200000,Washington+City,yr,150000.000,150000.0,True
28,"Reston, VA 20190",Piper Companies,Data Scientist,200000 220000,Washington+City,yr,210000.000,210000.0,True
29,"Washington, DC",Central Intelligence Agency,Apps Developer,58638 123234,Washington+City,yr,90936.000,90936.0,True
30,"Washington, DC",Centers for Disease Control and Prevention,Health Scientist,90023 150349,Washington+City,yr,120186.000,120186.0,True
31,"Springfield, VA",National Geospatial-Intelligence Agency,Data Scientist,52329 129553,Washington+City,yr,90941.000,90941.0,True
32,"Fort Meade, MD",National Security Agency,Mathematicians - Entry/Mid-Level,68586 85464,Washington+City,yr,77025.000,77025.0,False
33,"Fort Meade, MD",National Security Agency,Mathematical Statisticians - Entry/Mid-Level,68586 85464,Washington+City,yr,77025.000,77025.0,False
34,"Washington, DC 20230 (Downtown area)",Department of Commerce,"Interdisciplinary, GS-0101,0180,0801,1550-12/1...",79720 123234,Washington+City,yr,101477.000,101477.0,True
35,"Washington, DC",Department of the Treasury,Operations Research Analyst,94796 123234,Washington+City,yr,109015.000,109015.0,True
36,"Reston, VA 20190",Piper Companies,Senior Data Engineer,190000 200000,Washington+City,yr,195000.000,195000.0,True
37,"McLean, VA",EMF Industries,"2017-07-10 IT Program Manager Earning $$213,000",213000,Washington+City,yr,213000.000,213000.0,True
38,"Washington, DC 20007 (Georgetown area)",Georgetown University Medical Center,Research Fellow - Quality of Medical Products,55000 70000,Washington+City,yr,62500.000,62500.0,False
39,"Washington, DC 20230 (Downtown area)",Department of Commerce,"Recent Graduate Survey Statistician, GS-1530-7...",44941 86460,Washington+City,yr,65700.500,65700.5,False
40,"Washington, DC",Catalist,Senior Product Manager,70000 100000,Washington+City,yr,85000.000,85000.0,False
41,"Washington, DC",Robert Walters,Data Scientist,80000 100000,Washington+City,yr,90000.000,90000.0,True
42,"Washington, DC 20036 (Downtown area)",Compri,"Data Scientist, Machine Learning (Perm - DC)",110000,Washington+City,yr,110000.000,110000.0,True
43,"Bethesda, MD","Innovative, Information, and Intelligence Solu...",Data Scientist TS/SCI with CI Poly,145000 160000,Washington+City,yr,152500.000,152500.0,True
44,"Washington, DC",Legislative Branch,"Executive Director, U.S. Botanic Garden (Super...",124406 187000,Washington+City,yr,155703.000,155703.0,True
45,"Bethesda, MD",PeopleTek,Statistical Data Analyst - US Citizen,60000 70000,Washington+City,yr,65000.000,65000.0,False
46,"Arlington, VA 22209 (Radnor-Ft Myer Heights area)","Eagle Technologies, Incorporated",Data/Research Analyst,50000 89000,Washington+City,yr,69500.000,69500.0,False
47,"Washington, DC 20005 (Logan Circle area)",HireStrategy,Senior Java Developer,50 60,Washington+City,hr,55.000,110000.0,True
48,"Washington, DC",Central Intelligence Agency,Analytic Methodologist,53088 92814,Washington+City,yr,72951.000,72951.0,False
49,"Washington, DC",Department of Health,Supervisory Statistician,110621 154869,Washington+City,yr,132745.000,132745.0,True
50,"Tempe, AZ",City of Tempe Arizona,Police Research & Data Analyst I/II+,53676 72463,Phoenix,yr,63069.500,63069.5,False
51,"Tempe, AZ",Arizona State University,Office Assistant/Receptionist Sr.,10.67 14.42,Phoenix,hr,12.545,25090.0,False
52,"Phoenix, AZ",Arizona Health Care Cost Containment System,RESEARCH AND STATISTICAL ANALYST,39983 55500,Phoenix,yr,47741.500,47741.5,False
53,"Phoenix, AZ","Kennedy Unlimited Inc, Professional Staffing",Predictive Analytics (Machine Learning),130000 140000,Phoenix,yr,135000.000,135000.0,True
54,"Phoenix, AZ",State of Arizona,Public Health Scientist / Chemist,50000,Phoenix,yr,50000.000,50000.0,False
55,"Phoenix, AZ",Maricopa County Community College District,Institutional Research Analyst (Open until Fil...,50958 60512,Phoenix,yr,55735.000,55735.0,False
56,"Tempe, AZ",Arizona State University,Academic Success Specialist,34560 38500,Phoenix,yr,36530.000,36530.0,False
57,"Scottsdale, AZ",SiteLock,Web Security Research Analyst,50000 55000,Phoenix,yr,52500.000,52500.0,False
58,"Phoenix, AZ",State of Arizona,ENVIRONMENTAL OUTREACH SPECIALIST,45000 65000,Phoenix,yr,55000.000,55000.0,False
59,"Phoenix, AZ",State of Arizona,AIR QUALITY PLANNER 2-3,45000 77000,Phoenix,yr,61000.000,61000.0,False
60,"Phoenix, AZ",CyberCoders,Data Scientist,100000 120000,Phoenix,yr,110000.000,110000.0,True
61,"Scottsdale, AZ 85258",Harnham,Data Analyst / Jnr Data Scientist,70000 90000,Phoenix,yr,80000.000,80000.0,False
62,"Northbrook, IL",Creospan Solutions,Data Scientist,80 100,Chicago,hr,90.000,180000.0,True
63,"Chicago, IL 60601 (Loop area)",Enterprise Select,Data Scientist ? Marketing Analytics,125000,Chicago,yr,125000.000,125000.0,True
64,"Chicago, IL",Workbridge Associates,Data Engineer Contractor,45 80,Chicago,hr,62.500,125000.0,True
65,"Chicago, IL",Illinois Criminal Justice Information Authority,Research Analyst,55000 60000,Chicago,yr,57500.000,57500.0,False
66,"Chicago, IL 60606 (Loop area)",ICJIA,Research Analyst,55000 60000,Chicago,yr,57500.000,57500.0,False
67,"Chicago, IL",Workbridge Associates,"Data Scientist (Python, R, AWS, Azure)",85000 125000,Chicago,yr,105000.000,105000.0,True
68,"Chicago, IL",Smith Hanley Associates,Data Scientist,80000 130000,Chicago,yr,105000.000,105000.0,True
69,"Chicago, IL",Workbridge Associates,Lead Data Scientist,140000,Chicago,yr,140000.000,140000.0,True
70,"Chicago, IL",Workbridge Associates,"Lead Data Scientist (Tableau, RShiny, D3)",130000,Chicago,yr,130000.000,130000.0,True
71,"Chicago, IL",Workbridge Associates,Lead Data Scientist (Deep Learning),100000 150000,Chicago,yr,125000.000,125000.0,True
72,"Chicago, IL",Jobspring Partners,Data Scientist,70000 80000,Chicago,yr,75000.000,75000.0,False
73,"Chicago, IL",Selby Jennings,"Quantitative Analyst, AVP",70000 120000,Chicago,yr,95000.000,95000.0,True
74,"Chicago, IL",All-In Analytics,Lead Machine Learning Data Scientist,100000 140000,Chicago,yr,120000.000,120000.0,True
75,"Chicago, IL",S.C. International,Data Scientist Predictive Modeler,130000,Chicago,yr,130000.000,130000.0,True
76,"Chicago, IL",Jobspring Partners,Data Scientist/Engineer,70000 80000,Chicago,yr,75000.000,75000.0,False
77,"Chicago, IL",Workbridge Associates,Lead Data Scientist (Data Visualization),110000 135000,Chicago,yr,122500.000,122500.0,True
78,"Chicago, IL",Jobspring Partners,Lead Data Scientist (Marketing),130000 160000,Chicago,yr,145000.000,145000.0,True
79,"Downers Grove, IL",All-In Analytics,Sr. Machine Learning Developer,70000 80000,Chicago,yr,75000.000,75000.0,False
80,"Chicago, IL","CPS, Inc.",Research Scientist / Sr. Research Scientist,110000,Chicago,yr,110000.000,110000.0,True
81,"Northbrook, IL",Request Technology,Senior Data Scientist / Machine Learning Engineer,130000 135000,Chicago,yr,132500.000,132500.0,True
82,"Chicago, IL",Workbridge Associates,Data Engineer/Scientist,90000 125000,Chicago,yr,107500.000,107500.0,True
83,"Chicago, IL",S.C. International,Statistical Analyst,80000,Chicago,yr,80000.000,80000.0,False
84,"Chicago, IL",Jobspring Partners,Machine Learning Engineer (Ruby),110000 130000,Chicago,yr,120000.000,120000.0,True
85,"Chicago, IL",Workbridge Associates,Senior Data Scientist,130000,Chicago,yr,130000.000,130000.0,True
86,"Chicago, IL",TS Kandilit,Senior Data Scientist - Modeling,100000 125000,Chicago,yr,112500.000,112500.0,True
87,"Chicago, IL",Jobspring Partners,Software Engineer (Python),75000 110000,Chicago,yr,92500.000,92500.0,True
88,"Chicago, IL",Request Technology,Sr. Data Scientist,100000 130000,Chicago,yr,115000.000,115000.0,True
89,"Chicago, IL",Smith Hanley Associates,CRM Consultant/Sr. Statistical Analyst,75000 95000,Chicago,yr,85000.000,85000.0,False
90,"Lombard, IL 60148","Andrews Engineering, Inc.",Civil/ Environmental Engineer,50000 65000,Chicago,yr,57500.000,57500.0,False
91,"Chicago, IL",Jobspring Partners,Senior Data Engineer,115000 130000,Chicago,yr,122500.000,122500.0,True
92,"Wheaton, IL",Momentum Scientific,QC Laboratory Technician,16 20,Chicago,hr,18.000,36000.0,False
93,"Chicago, IL",Workbridge Associates,"Senior Data Engineer (AWS RedShift, MySQL, Pyt...",80000 110000,Chicago,yr,95000.000,95000.0,True
94,"Chicago, IL",Request Technology,Data Integration Architect,90000 110000,Chicago,yr,100000.000,100000.0,True
95,"Redwood, CA",Cloud Big Data Technologies,Data Scientist,65 66,San+Francisco,hr,65.500,131000.0,True
96,"San Francisco, CA 94158 (South Of Market area)",WingWarp Inc.,Video Machine Learning - field position/yard l...,10000,San+Francisco,mo,10000.000,120000.0,True
97,"San Mateo County, CA",County of San Mateo,Clinical Laboratory Scientist I/II (Medi...,39.74 52.59,San+Francisco,hr,46.165,92330.0,True
98,"San Francisco, CA",Griffin Advisors,PhD in AI / Machine Learning,250000 300000,San+Francisco,yr,275000.000,275000.0,True
99,"San Ramon, CA",DONOR NETWORK WEST,Organ Transplant Oversight Coordinator (PC),24.63 35.72,San+Francisco,hr,30.175,60350.0,False
100,"San Francisco, CA","Kennedy Unlimited Inc, Professional Staffing",Predictive Analytics (Machine Learning),130000 140000,San+Francisco,yr,135000.000,135000.0,True
101,"San Francisco Bay Area, CA",Optimal Asset Management Inc,Quantitative Analyst,85000 100000,San+Francisco,yr,92500.000,92500.0,True
102,"San Francisco, CA",Intellipro Group Inc.,Data Scientist,300000,San+Francisco,yr,300000.000,300000.0,True
103,"San Francisco Bay Area, CA",consol partners,Data Scientist,170000 185000,San+Francisco,yr,177500.000,177500.0,True
104,"San Francisco, CA 94102 (Downtown area)",Aquila,Senior Data Scientist,100000 150000,San+Francisco,yr,125000.000,125000.0,True
105,"San Francisco, CA",Pentaho a Hitachi Company,Sales Engineer,190000 200000,San+Francisco,yr,195000.000,195000.0,True
106,New York State,"Quintrix Solutions, Inc",Data Scientist/Statistician (Statistical Model...,135000,New+York,yr,135000.000,135000.0,True
107,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Data Specialist, Bureau of Systems Strengtheni...",38.47 44.24,New+York,hr,41.355,82710.0,False
108,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Scientist, Bureau of Environmental Sciences an...",59708 65678,New+York,yr,62693.000,62693.0,False
109,"New York, NY",DEPT OF ENVIRONMENT PROTECTION,Climate and Sustainability Analyst,59708 72246,New+York,yr,65977.000,65977.0,False
110,"New York, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Data Analyst, Bureau of Immunization/Immunizat...",38.47 47.78,New+York,hr,43.125,86250.0,False
111,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Criminal Justice Analyst, Bureau of Mental Health",70286 88213,New+York,yr,79249.500,79249.5,False
112,"New York, NY",ektello,Data Engineer,43 48,New+York,hr,45.500,91000.0,True
113,"Brooklyn, NY",Nityo Infotech,Statistical Analysts (Full time role),110000 120000,New+York,yr,115000.000,115000.0,True
114,"New York, NY",Birch & James Associates Limited,Client Facing Python Engineers for A.I data co...,70000 110000,New+York,yr,90000.000,90000.0,True
115,"New York, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Research Analyst , Bureau of HIV/AIDS Preventi...",70286 87295,New+York,yr,78790.500,78790.5,False
116,"New York, NY",POLICE DEPARTMENT,"Statistician, Level I",42288 63519,New+York,yr,52903.500,52903.5,False
117,"New York, NY",GUTTMACHER,Research Assistant I,40000,New+York,yr,40000.000,40000.0,False
118,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Senior Research Analyst, Bureau of Maternal In...",78630 102600,New+York,yr,90615.000,90615.0,True
119,"New York, NY",Venturi Ltd,"VP, Data Science ( FinTech / Python / R / Mach...",200000 300000,New+York,yr,250000.000,250000.0,True
120,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"City Research Scientist, Bureau of Environment...",32.68 35.95,New+York,hr,34.315,68630.0,False
121,"New York, NY 10038 (Financial District area)",Mission Staffing,AVP - Business Management and Data Analysis,101000 125000,New+York,yr,113000.000,113000.0,True
122,"Manhattan, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Environmental Analyst, Bureau of Environmental...",59708 65678,New+York,yr,62693.000,62693.0,False
123,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Researcher/Data Analyst, Bureau of Mental Health",70286 80829,New+York,yr,75557.500,75557.5,False
124,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Senior Epidemiologist, Prevention and Primary ...",87768 113838,New+York,yr,100803.000,100803.0,True
125,"New York, NY",BOARD OF CORRECTION,Director of Research and Analysis,70286 80829,New+York,yr,75557.500,75557.5,False
126,"New York, NY",ELSolutions,Data Scientist,90 105,New+York,hr,97.500,195000.0,True
127,"New York, NY",DEPT OF CITYWIDE ADMIN SVCS,Research and Policy Analyst,59708 72246,New+York,yr,65977.000,65977.0,False
128,"New York, NY",605,Full-Stack Engineer,95000 130000,New+York,yr,112500.000,112500.0,True
129,"Manhattan, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Panel Maintenance Analyst, World Trade Center ...",59708 72246,New+York,yr,65977.000,65977.0,False
130,"Manhattan, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Research Scientist, Bureau of Veterinary and P...",78630 103332,New+York,yr,90981.000,90981.0,True
131,"Manhattan, NY",HRA/DEPT OF SOCIAL SERVICES,DIRECTOR OF COORDINATED ENTRY,78630 93180,New+York,yr,85905.000,85905.0,False
132,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Senior Policy Analyst, Bureau of Children, You...",70286 80829,New+York,yr,75557.500,75557.5,False
133,"New York, NY",MetroPlus Health Plan,Data Scientist,90000 115000,New+York,yr,102500.000,102500.0,True
134,"New York, NY",Harnham,Senior Data Scientist - NLP and Machine Learning,180000,New+York,yr,180000.000,180000.0,True
135,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Provider Specialist, Bureau of HIV/AIDS Preven...",59708 72246,New+York,yr,65977.000,65977.0,False
136,"Queens, NY",DEPT OF ENVIRONMENT PROTECTION,Environmental Health & Safety Auditor,78630 103332,New+York,yr,90981.000,90981.0,True
137,"New York, NY 10005 (Financial District area)",Enterprise Select,Data Scientist,185000,New+York,yr,185000.000,185000.0,True
138,"Queens, NY",DEPT OF ENVIRONMENT PROTECTION,"City Research Scientist, Modeling and Water Qu...",78630 103332,New+York,yr,90981.000,90981.0,True
139,"Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Research Scientist of Special Projects, World ...",85211 110522,New+York,yr,97866.500,97866.5,True
140,"Manhattan, NY",DEPARTMENT OF FINANCE,Senior Modeler,70286 80829,New+York,yr,75557.500,75557.5,False
141,"Manhattan, NY",CONSUMER AFFAIRS,Senior Research Analyst,70286 82000,New+York,yr,76143.000,76143.0,False
142,"New York, NY",POLICE DEPARTMENT,Data Analyst,70286 88213,New+York,yr,79249.500,79249.5,False
143,"New York, NY 10016 (Gramercy area)",A Priori Investment Management LLC,Quantitative Analyst,125000 175000,New+York,yr,150000.000,150000.0,True
144,"New York, NY","Kennedy Unlimited Inc, Professional Staffing",Predictive Analytics (Machine Learning),130000 140000,New+York,yr,135000.000,135000.0,True
145,"Manhattan, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Research Data Analyst , Bureau of Veterinary a...",59708 65678,New+York,yr,62693.000,62693.0,False
146,"New York, NY",ELSolutions,Big Data Engineer,90 100,New+York,hr,95.000,190000.0,True
147,"Chestnut Ridge, NY","Elite Personnel, Inc.",Statistician,40 47,New+York,hr,43.500,87000.0,True
148,"Manhattan, NY",HRA/DEPT OF SOCIAL SERVICES,Senior Project Manager,78630 94500,New+York,yr,86565.000,86565.0,False
149,"Corning, NY",CTG,Data Analyst 3 - 17204273,25.50 37.75,New+York,hr,31.625,63250.0,False
...,...,...,...,...,...,...,...,...,...
170,"Wilmington, DE","Kennedy Unlimited Inc, Professional Staffing",Predictive Analytics (Machine Learning),130000 140000,Philadelphia,yr,135000.000,135000.0,True
171,"Philadelphia, PA",Jobspring Partners,Data Scientist/Machine Learning Specialist,100000 160000,Philadelphia,yr,130000.000,130000.0,True
172,"Philadelphia, PA",Jobspring Partners,Data Scientist/Optimization Engineer,100000 125000,Philadelphia,yr,112500.000,112500.0,True
173,"Philadelphia, PA",Apex Life Sciences,"Research Scientist (Gene Therapy, Molecular Cl...",50000,Philadelphia,yr,50000.000,50000.0,False